
body {
    background-color: #FFFFFF;
    margin: 0px;
}

.wrap {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0px auto;
}

/*헤더*/
#header {
    margin-top: 46px;
}

header h1 {
    float: left;
}

header a {
    text-decoration: none;
}

header h1 img {
    width: 160px;
}

.nav-menu {
    float: right;
}

.nav-menu ul{
    height: 21px;

    list-style: none;
}

.nav-menu li {
    float: left;
    font-size: 14px;
}

.nav-menu a {
    color: #333;
    margin-left: 20px;
    text-decoration: none;
}

.nav-menu img {
    width: 16px;
    height: 16px;

}

.nav-menu ul::after {
    clear: both;
    display: block;
    content: '';
}

header::after {
    clear: both;
    display: block;
    content: '';
}
/*헤더 끝*/

/*바디 시작*/
#container {
    margin-top: 40px;
}

/*바디 헤드*/
.page-title h2 {
    font-size: 50px;
    font-weight: 700;
}

.page-title p {
    font-size: 21px;
    color: #aaa;
}
/*바디 헤드 끝*/

.contents {
    margin-top: 40px;
}

.search-wrap {
    width: 100%;
    font-size: 14px;
    padding-left: 180px;
    position: relative;
}

.day-pick {
    width: calc(79.51% - 24px);
    float: left;
    margin: 0px 24px;
    position: relative;
}

.calendar-show:first-child {
    margin-left: 0;
}

.calendar-show {
    width: calc(50% - 12px);
    margin-left: 24px;
    padding: 5px 36px 5px 8px;
    color: #aaa;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    background: url(/static/donguk-img/calendar_icon.png) no-repeat;
    background-size: 14px;
    background-position: center right 12px;
}

.calendar-show-fir:focus {
    outline: none;
}

.calendar-show-sec:focus {
	    outline: none;
}

.calendar-show-fir {
    text-align: center;
}

.calendar-show-sec {
    text-align: center;
}

.day-pick span {
    color: #aaa;
    position: absolute;
    top: 30%;
    left: 50%;
}

.calendar {
    position: absolute;
    top: 30px;
    left: 250px;
    right: auto;

    display: inline-block;
    max-height: 640px;
    border: 1px solid #aaa;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    width: 307px;
    background: #fff;

    opacity: 1;
    display: none;
    z-index: 1;
}

.calendar-sec {
    position: absolute;
    top: 30px;
    left: 650px;
    right: auto;

    display: inline-block;
    max-height: 640px;
    border: 1px solid #aaa;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    width: 307px;
    background: #fff;

    opacity: 1;
    display: none;
    z-index: 1;
}

.calendar-months {
    text-align: center;
}

.pre-month {
    cursor: pointer;
    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
    background-image: url(/static/donguk-img/btn_prev.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
    z-index: 1;

}

.next-month {
    cursor: pointer;

    position: absolute;
    top: 0px;
    right: 0px;
    width: 34px;
    height: 34px;
    background-image: url(/static/donguk-img/btn_next.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
    z-index: 1;
}

.calendar-month {
    height: 34px;
    line-height: 1;
    text-align: center;
    position: relative;

    font-size: 20px;
    font-weight: 300;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table-row;
    height: 28px;
}

.calendar tbody {
    display: table-row-group;
    vertical-align: middle;
    text-align: center;
}

.calendar tbody  tr th {
    cursor: pointer;
}

.calendar-sec tbody {
    display: table-row-group;
    vertical-align: middle;
    text-align: center;
}

.calendar-sec tbody  tr th {
    cursor: pointer;
}

.pre-month2 {
    cursor: pointer;
    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
    background-image: url(/static/donguk-img/btn_prev.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
    z-index: 1;

}

.next-month2 {
    cursor: pointer;

    position: absolute;
    top: 0px;
    right: 0px;
    width: 34px;
    height: 34px;
    background-image: url(/static/donguk-img/btn_next.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
    z-index: 1;
}

.choiceDay {
    background: #569ff7;
    background-color: #569ff7;
    color: white !important;
    border-radius: 50%;
}

.choiceDay2 {
    background: #569ff7;
    background-color: #569ff7;
    color: white !important;
    border-radius: 50%;
}








.btn-month-wrap {
    width: 180px;
    padding: 0px 5px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-month-wrap button {
    width: 54px;
    font-weight: 300;
    margin: 1px 0px;
    padding: 5px 8px;
    color: #aaa;
    position: relative;
    cursor: pointer;
    background-color: #fff;
}

.btn-month-wrap button::after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #ddd;
    position: absolute;
    top: 30%;
    left: 0;
}


.btn-month-wrap button:first-child:after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 0;
}

.monthbtn {
    width: calc(20.48% - 24px);
    font-size: 14px;
    padding: 5px 8px;
    line-height: 20px;
    height: 32px;
    font-weight: 400;

    background-color: #f85549;
    border: 1px solid #f85549;
    color: #fff;

    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.list-wrap {
    margin-top: 40px;
}

.ticket-list {
    border-top: none;
    font-size: 14px;
    min-height: 125px;
    position: relative;
    padding: 20px 30px 20px 0px;
}

.ticket-list a {
    text-decoration: none;
}

.buy-date {
    color: #aaa;
    width: 6.5%;
    float: left;
}

.name {
    width: calc(25.5% - 24px);
    float: left;
    margin-left: 24px;
}

.name p {
    color: #aaa;
}

.name strong {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 1.3;

    font-weight: 700;
}

.ticket-list dl {
    color: #aaa;
    width: calc(38.55% - 24px);
    float: left;
    margin-left: 24px;
    padding-top: 20px;
}

.ticket-list dt {
    clear: both;
    float: left;
}

.ticket-list dd {
    float: left;
    margin-left: 10px;
}

.ticket-list dd::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ddd;
    margin-right: 10px;
}

.price {
    padding-top: 20px;
    float: right;
    text-align: right;
}

.price p {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.ticket-status {
    background: #ffe9e8;
    color: #F85549;

    display: inline-block;
    min-width: 70px;
    padding: 4px 0;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

.ticket-list::after {
    content: '';
    display: block;
    clear: both;
}

.ticket-list::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 48px;
    right: 0;
    background-image: url(/static/donguk-img/btn_next.png);
    background-repeat: no-repeat;
    background-size: 12px;
}





















footer {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 80px 0px 40px;

    height: 90px;
}

footer img {
    width: 80px;
    display: block;
}

footer ul {
    display: block;
    height: 54px;
    margin-top: 10px;
    list-style: none;
}

footer li {
    display: list-item;
    float: left;
    margin-left: 20px;
    text-align: center;
}

footer li:nth-child(1) {
    margin-left: 0px;
}

footer li:nth-child(5) {
    clear: both;
    margin-left: 0px;
}

footer li:nth-child(7) {
    clear: both;
    margin-left: 0px;
    color: #aaa;
    letter-spacing: 0.5px;
}
