<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주차안내</title>
    <link rel="stylesheet" href="/static/css/operation.dyj/operation_style.css">
    <link rel="stylesheet" href="/static/css/operation.dyj/operation-parking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
<body style="position: relative; min-height: 100%; top: 0px;">
    <!--상단 배너 시작-->
    
    <th:block th:replace="/mainfragments/mainheader"></th:block>
    
    <!--상단 메인 끝-->
    <!--중단 메인 시작-->
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>이용정보</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="">홈</a>
                            </li>
                            <li>
                                <span>이용정보</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>운영시간</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="/hours-of-operation/operation">운영시간</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-holiday">운휴정보</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-tip">이용꿀팁</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-parking">주차안내</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-find">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notice-contents">
            <div class="notice-contents-title">
                <div class="notice-wrap-width">
                    <h3>주차안내</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick=""></span>
                                            페이스북
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            트위터
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            블로그
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오톡
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="operation-print">
                <div class="parking-area">
                    <div class="parking-price">
                        <div class="parking-width">
                            <h4 class="parking-h4">주차요금 안내</h4>
                            <div class="parking-table">
                                <table>
                                    <colgroup>
                                        <col style="width: 33.333%;">
                                        <col style="width: 33.333%;">
                                        <col style="width: 33.333%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>정산방법</th>
                                            <th>요금</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">1 · 2 주차장</td>
                                            <td>카카오T</td>
                                            <td class="tblBold">2,000원/1일</td>
                                        </tr>
                                        <tr>
                                            <td>사전정산기</td>
                                            <td class="tblBold">2,000원/1일</td>
                                        </tr>
                                        <tr>
                                            <td>출구 결제</td>
                                            <td class="tblBold">5,000원/1일</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">3 · 4 주차장 및 30분 이내 출차 시</td>
                                            <td class="tblBold">무료</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parking-kakao">
                    <div class="kakao-wrap-width">
                        <h4 class="parking-h4">카카오 정산안내</h4>
                        <div class="parking-step">
                            <ul>
                                <li>
                                    <img src="/static/operation/parking/kakaoqr.png" class="pc-img">
                                
                                    <div class="txt">
                                        <div>
                                            <b>1</b>
                                            <p class="pc-img">QR스캔 또는 카카오T앱 다운로드</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/operation/parking/kakao-2.png" alt="">
                                    <div class="txt">
                                        <div>
                                            <b>2</b>
                                            <p>카카오T 앱을 열고 주차 실행하기</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/operation/parking/kakao-3.png" alt="">
                                    <div class="txt">
                                        <div>
                                            <b>3</b>
                                            <p>주차패스 선택</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/operation/parking/kakao-4.png" alt="">
                                    <div class="txt">
                                        <div>
                                            <b>4</b>
                                            <p>차량정보 등록하기</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/operation/parking/kakao-5.png" alt="">
                                    <div class="txt">
                                        <div>
                                            <b>5</b>
                                            <p>주차패스 등록하기</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/operation/parking/kakao-6.png" alt="">
                                    <div class="txt">
                                        <div>
                                            <b>6</b>
                                            <p>등록 완료!</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="parking-desc">
                                <ul>
                                    <li>
                                        경주월드 방문할 때 마다 정차없이 출차 가능!
                                    </li>
                                    <li>
                                        카카오T 사전정산을 이용하시면 주차요금이 할인됩니다
                                    </li>
                                    <li>
                                        해당 서비스는 1 · 2 고객 주차장에 한해 적용되며, 3 · 4 주차장은 주차요금이 발생하지 않습니다
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parking-place">
                    <div class="parking-wrap-width">
                        <h4 class="parking-h4">주차장 위치 안내</h4>
                        <div>
                            <img src="/static/operation/parking/map.jpg" class="pc-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--중단 메인 끝-->
    <!--하단 메인 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ea1271e419.js" crossorigin="anonymous"></script>
    <script src="/static/js/operation-js/operation-parking.js"></script>
</body>
</html>