<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용꿀팁</title>
    <link rel="stylesheet" href="/static/css/operation.dyj/operation_style.css">
    <link rel="stylesheet" href="/static/css/operation.dyj/operation-tip.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
<body style="position: relative; min-height: 100%; top: 0px;">
    <!--상단 배너 시작-->
    
    <th:block th:replace="/mainfragments/mainheader"></th:block>
    
    <!--상단 메인 끝-->
    <!--중단 메인 시작-->
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>이용정보</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="">홈</a>
                            </li>
                            <li>
                                <span>이용정보</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>운영시간</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="/hours-of-operation/operation">운영시간</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-holiday">운휴정보</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-tip">이용꿀팁</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-parking">주차안내</a>
                                        </li>
                                        <li>
                                            <a href="/hours-of-operation/operation-find">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notice-contents">
            <div class="notice-contents-title">
                <div class="notice-wrap-width">
                    <h3>이용꿀팁</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist visible">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick=""></span>
                                            페이스북
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            트위터
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            블로그
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오톡
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="operation-print">
                <div class="use-tip-list">
                    <div class="tip-wrap-width">
                        <ul class="tip-container">
                            <li class="container-rows">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/tip/dailylike.jpg');">
                                        <span class="badge">젤리버디</span>
                                    </div>
                                    <div class="information">
                                        <span class="name">경주월드에 데일리라이크가 ...</span>
                                        <p>경주월드 기념품샵 드롤의 마켓 플라자에 #젤리버디가 놀러왔데!!!</p>
                                        <span class="date">2023-07-05</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-rows">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/tip/kbpay.jpg');">
                                        <span class="badge">KB페이</span>
                                    </div>
                                    <div class="information">
                                        <span class="name">KB PAY 결제방법</span>
                                        <p>간편하고 편리한 KB페이를 이용해보세요</p>
                                        <span class="date">2023-07-05</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-rows">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/tip/space.jpg');">
                                        <span class="badge">우주저렴</span>
                                    </div>
                                    <div class="information">
                                        <span class="name">우주를 즐기는 방법</span>
                                        <p>경주월드에서도 우주와 똑같은 무중력을 느낄 수 있다!?</p>
                                        <span class="date">2022-11-29</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-rows">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/tip/playg.jpg');">
                                        <span class="badge">플레이G</span>
                                    </div>
                                    <div class="information">
                                        <span class="name">황리단길에서 플레이지G빠...</span>
                                        <p>황리단길에도 경주월드가 있다고???!!??!</p>
                                        <span class="date">2022-11-02</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-rows">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/tip/gold.jpg');">
                                        <span class="badge">치즈몽땅</span>
                                    </div>
                                    <div class="information">
                                        <span class="name">치.즈.몽.땅 황금십원빵</span>
                                        <p>인싸들의 간식! 치.즈.몽.땅 황금십원빵</p>
                                        <span class="date">2022-06-14</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-rows">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/tip/delicious.jpg');">
                                        <span class="badge">신상음식</span>
                                    </div>
                                    <div class="information">
                                        <span class="name">맛있는 봄이 왔나봄</span>
                                        <p>경주월드에 맛있는 봄이 왔나봄~ 신상 먹거리 모음.zip</p>
                                        <span class="date">2022-04-27</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--중단 메인 끝-->
    <!--하단 메인 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ea1271e419.js" crossorigin="anonymous"></script>
    <script src="/static/js/operation-js/operation-tip.js"></script>
</body>
</html>