<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<header >
		<div id="TopBanner">
            <div class="box-wrapper" style="max-width: 100%;">
                <div class="box-viewport" style="width: 100%; overflow: hidden; position: relative; height: 110px;">
                    <ul class="box-slider-list" style="width: 715%; position: relative;">
                        <!-- transition-duration: 1s; transform: translate3d(-761, , );-->
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            <!--공연및이벤트-->
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-cloth.jpg');">
                            <a href="/payment/payment_first" target="_blank">
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-hwang.jpg');">
                            <a href="/hours-of-operation/operation-tip" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-worldcast.jpg');">
                            <a href="/notice/notice_list" target="_blank">
                               
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            <!--공연및이벤트-->
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- transition-duration: 50s;
    transform: translate3d(-7595px, 0px);-->
                <div class="box-controller">
                    <div class="box-pager">
                        <div class="box-pager-item">
                            <a href="#" class="box-pager-link">1</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="#" class="box-pager-link">2</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="#" class="box-pager-link">3</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="#" class="box-pager-link">4</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="#" class="box-pager-link">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--상단 배너 끝-->
        <!--퀵 배너-->
        <div id="quickController">
            <span class="toggle-botten"></span>
            <ul>
                <li>
                    <a href="/mainprefer">
                        <img src="/static/main-image/PC-quick/saleimformation.png" alt="">
                        <span>할인정보</span>
                    </a>
                </li>
                <li>
                    <a href="공연정보 페이지"><!--공연및이벤트-->
                        <img src="/static/main-image/PC-quick/gongyeon.png" alt="">
                        <span>공연정보</span>
                    </a>
                </li>
                <li class="draken">
                    <a href="/">
                        <img src="/static/main-image/PC-quick/draken.png" alt="">
                        <span>드라켄벨리</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--퀵 배너 끝-->
        <!--상단 메인 시작-->
        <div id="main-top">
            <div class="topWrap">
                <div class="main-top-top">
                    <div class="main-top-top-details">
                        <div class="main-top-left">
                            <ul class="main-top-left-ul">
                                <li class="first">
                                    <a href="/" class="on"> 
                                        경주월드 어뮤즈먼트
                                    </a>
                                </li>
                                <li class="second">
                                    <a href="캘리포니아비치 사이트">
                                        캘리포니아비치
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-top-middle">
                            <a href="/">
                                <img src="/static/main-image/main-logo/main-logo.jpg" style="width: 196px; height: 78px;">
                                
                            </a>
                        </div>
                        <div class="main-top-right">
                            <div class="main-top-list">
                                <!-- <ul>
                                    <li>
                                        <a href="/index">홈</a>
                                    </li>
                                    <li>
                                        <a href="/auth/signin">로그인</a>
                                    </li>
                                    <li>
                                        <a href="/auth/signup_first">회원가입</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="단체예약 사이트 주소" style="color: #f26c4f;">단체예약</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="연간이용권 사이트 주소" style="color: #f26c4f;">연간이용권</a>
                                    </li>
                                    <li class="choice">
                                        <a href="">
                                            <img src="/static/main-image/main-logo/google.png" style="height: 19px; width: 19;">
                                            언어 선택
                                            <img src="/static/main-image/main-logo/languge.png">
                                        </a>
                                    </li>
                                </ul> -->
                            </div>
                            <div class="main-top-search" style="display: block;">
                                <form action="" name="frmSearch">
                                    <label for="search-label">
                                        검색어
                                        <strong class="sound_only">필수</strong>
                                    </label>
                                    <input type="text" name="search-input" class="hash-tag-input1" style="display: none;">
                                    
                                    <input type="text" class="sch_submit" value="검색">
                                    <div class="hash-tag-input2"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-top-bottom">
                    <div class="main-top-bottom-all">
                        <div class="main-top-menu" style=" width: 100%; left: 0px; top: 0px; height: 56px;">
                            <ul style="margin-top: 0px;">
                                <li class="list-hover">
                                    <a href="/hours-of-operation/operation" style="font-size: 20px;">
                                        이용정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="/hours-of-operation/operation">운영시간</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/hours-of-operation/operation-holiday">운휴정보</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/hours-of-operation/operation-tip">이용꿀팁</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/hours-of-operation/operation-parking">주차안내</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/hours-of-operation/operation-find">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="/mainfee" style="font-size: 20px;">
                                        요금정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="/mainfee">이용요금</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/mainprefer">우대프로그램</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/maincard">제휴카드</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/mainfee">기업체 특판안내</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="/maincourse" style="font-size: 20px;">
                                        어뮤즈먼트 소개
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="/maincourse">추천코스</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/mainattraction">어트랙션</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/mainfood">레스토랑&스낵</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/mainservice">부대시설</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/maincourse">가이드맵</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="/event" style="font-size: 20px;">
                                        공연 및 이벤트
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="/event">공연 및 이벤트</a>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="/notice/notice_list" style="font-size: 20px;">
                                        고객센터
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="/notice/notice_list">공지사항</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/notice/notice_client">고객소리함</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/notice/notice_question">자주묻는질문</a>
                                            
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/notice/notice_lost">분실물센터</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="/payment/payment_first" style="font-size: 20px;">
                                        스마트할인예약
                                    </a>
                                    <ul class="hover" style="display: none; opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="/payment/payment_first">티켓예매</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/payment/payment_first">단체예약</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="/payment/payment_first">연간이용</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <script type="text/javascript" src="/static/js/main-js/flagment.js"></script>
</html>