html {
    font-size: 18px;
    scroll-behavior: smooth;
}


body {
    top: 0 !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;

    font-family: 'Noto Sans KR', sans-serif;
    
    
}




.box-wrapper {
 margin: 0px;
 padding: 0px;
}



.box-slider-list li {
    height: 110px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    float: left;
    position: relative;
    width: 1903px;
}

.box-slider-list li a {
    height: 110px;
    width: 100%;
    display: inline-block;
}

.box-pager {
    position: absolute;

    
    top: 90px;
    left: 50%;
    margin-left: -650px;
    /* z-index: 100; */
}

.box-pager-link {
    background-color: #ffffff;
    text-indent: -9999px;
    display: block;
    width: 14px;
    height: 14px;
    margin: 0px 6px;
    outline: 0;
    border-radius: 7px;

    font-size: 18px;
}

.box-pager-item {
    display: inline-block;
}

.box-pager-link:active {
    background-color: #ed1c24;
}

.box-pager-link:hover {
    background-color: #ed1c24;
}



#quickController {
    width: 138px;
    position: fixed;
    right: -145px;
    top: 50%;
    transform: translate(-50%);
    z-index: 111;
    transition: 0.4s;
}
.toggle-botten {
    position: absolute;
    display: none;
    width: 20px;
    height: 31px;

    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;
    right: 138px;
    top: 0;
    /* z-index: 110; */
    
}

#quickController ul {
    border-top: 1px solid #cecece;
}

#quickController ul li {
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #dadada;
    background-color: #f7f7f7;
    
    margin: 0px;
    padding: 0px;
}



#quickController ul li a img {
    margin: 7px;
    float: left;

    
    overflow-clip-margin: content-box;
    overflow: clip;
}

#quickController ul li a span {
    display: block;
    margin-left: 64px;
    height: 64px;
    line-height: 60px;
    color: #272727;
    font-size: 0.83rem;

    cursor: pointer;
}

#quickController ul .draken {
    border-left: 1px solid #6b001e;
    border-right: 1px solid #6b001e;
    border-bottom: 1px solid #6b001e;
    background-color: #6b001e;

    
}

#quickController ul .draken a span {
    color: #fff;
    background-color: #6b001e;
    font-size: 0.73rem;
    
}




#main-top {
    
    position: relative;

}

.topWrap {
    width: 100%;
    height: 150px;
    position: relative;
    
}


.main-top-top {
    clear: both;
    
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    /* z-index: 102; */
    top: 0

 }

.main-top-top-details {
   margin: 0 auto;
   width: 100%;
   max-width: 1300px;
    cursor: pointer;
}

.main-top-left {
    float: left;
    width: 30%;
    
}

.main-top-left ul {
    margin-top: 25px;
    
}


.main-top-left ul li{
    float: left;
    height: 42px;

}
.first {
   background-image: url('/static/main-image/main-logo/collection.png');
   background-repeat: no-repeat;
   background-position: -17px -1107px;
   padding-left: 62px;
}


.main-top-left ul a{
    display: inline-block;
    height: 42px;
    line-height: 38px;
    text-align: center;
    color: #707070;
    font-size: 0.67rem;
}

.second {
    background-image: url('/static/main-image/main-logo/collection.png');
   background-repeat: no-repeat;
   background-position: -17px -1207px;
   padding-left: 62px;
}
.main-top-middle {
    float: left;
    width: 40%;
    text-align: center;
    padding: 6px 0px;
}

.main-top-middle a {
    cursor: pointer;
}

.main-top-right {
    float: left;
    width: 30%;
}

.main-top-right ul {
    float: right;
   display: flex;
    
}

.main-top-list ul li{
    float: left;
    margin-top: 5px;
    
}

.main-top-list ul li:first-child a {
    margin-left: 0px;
}


.main-top-list ul li a{
    color: #707070;
    font-weight: 300;
    font-size: 0.67rem;
    margin-left: 14px;
    display: block;
    width:100%;
    
    padding-top: 5px;
    
}




.main-top-list ul li.choice {
    margin-top: 0px;
    position: relative;
    top: 0px;
    

    
}

.main-top-list ul li.choice a {
   display: flex;
   padding-top:10px;
}

.main-top-list ul li.choice a img.choice-img {
   height: 22px;
}

.main-top-search {
    clear: both;
    text-align: right;
    
    position:relative;
   top:0px;

}
.main-top-search form {
    display: inline-block;
    width: 196px;
    height: 37px;
    margin-top: 13px;
    border: 1px solid #cccccc;
}
.main-top-search form label {
    display: none;
}
.main-top-search form .hash-tag-input1 {
    width: 131px;
    height: 35px;
    padding: 0 10px;
    float: left;
    border: none;
    color: #707070;
    font-size: 0.89rem;
    font-weight: 300;

    cursor: pointer;
    vertical-align: middle;
}

.main-top-search form .hash-tag-input2 {
    width: 35px;
    height: 35px;
    float: right;
    text-indent: -9999px;
    border: none;
    background-image: url('/static/main-image/main-logo/glass.png');
    background-repeat: no-repeat;
    background-position: -2px -200px;
    background-color: #ffffff;
    cursor: pointer;

    vertical-align: middle;
}

.main-top-search form .sch_submit {
    width: 131px;
    height: 35px;
    line-height: 31px;
    padding: 0 10px;
    float: left;
    border: none;
    color: #707070;
    font-size: 0.89rem;
    font-weight: 300;
}



.main-top-bottom {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    clear: both;
    width: 100%;
    position: absolute;
    
    height: 55px;
    top: 61.5%;
    background-color: #ffffff;
    z-index: 103;


}

.main-top-bottom-all {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}
.main-top-menu {
    position: absolute;
    
    overflow: hidden;
    transition: 0.4s;
    width: 100%; 
    
    top: 0px; 
    
}

.main-top-menu > ul {
    background-color: #ffffff;
}


.main-top-menu ul > li {
    float: left;
    width: 16.6%;
    text-align: center;
    position: relative;
}

/* .main-top-menu ul > li:hover .hover {
    display: block;
    opacity: 1;
} */

.main-top-menu ul > li:hover .main-top-menu {
    height: 374px;
}


.main-top-menu ul li a{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-family: 'NanumSqare';
    font-weight: 700;
    color: #000000;
    font-size: 1.11rem;
}


.list-hover > a:hover{
    color: #ed1c24;
    border-bottom: 3px solid #ed1c24;
    
    
}

/* .list-hover > a:hover .hover {
    display: block;
    opacity: 1;

} */
.hover {
    border-top: 1px solid #ffffff;
    background-color: #ffffff;
}



.main-top-menu ul > li > ul {
    width: 100%;
    border-top: 1px solid #c3c7c8;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    height: 299px;
    padding-top: 14px;
    

}

.list-hover ul li {
    clear: both;
    width: 175px;
    min-height: 32px;
    position: relative;
    top: 0%;
    
}


.list-hover ul li :hover {
    background-color: #f9f9f9;
    color: #ed1c24;
    background-position: right -468px top -304px;
}

.main-top-menu ul li:last-child {
    width: 17%;
}

.main-top-menu ul li ul li a {
    display: inline-block;
    color: #505050;
    font-size: 0.78rem;
    width: 165px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    padding-left: 10px;
    background-image: url('/static/main-image/main-logo/button-collection.png');
    background-repeat: no-repeat;
    background-position: right -468px top -204px;
}

#TopLNB {
    position: relative;
    background-image: url('/static/img-kdh/restimg/rateinformation.jpg');
}

#TopLNB > div {
    height: 260px;
    background-color: rgba(0, 0, 0, 0.56);
}

#TopLNB h2 {
    font-weight: 500;
    font-size: 2.67rem;
    color: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 210px;
    letter-spacing: -2px;
}

.TopLocation {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #959595;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.56);
}

.Top-WrapWidth {
    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
}

.Top-WrapWidth > ul > li {
    float: left;
    border-right: 1px solid #959595;
    width: 185px;
    height: 39px;
    background-image: url('/static/main-image/main-logo/button-collection.png');
    background-repeat: no-repeat;
    background-position: 145px 0px;
}

.Top-WrapWidth > ul > li > a {
    display: inline-block;
    height: 40px;
    line-height: 36px;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 0.89rem;
    width: 100%;
}

.Top-WrapWidth > ul > li:first-child {
    width: 40px;
    background-image: url('/static/main-image/main-logo/glass.png');
    background-repeat: no-repeat;
    background-position: 0px -298px;
}
 
.Top-WrapWidth > ul > li:first-child > a {
    width: 10px;
    text-indent: -9999px;
}

.Top-WrapWidth > ul > li > span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding: 0px 17px;
    width: 100%;
    cursor: pointer;
    font-size: 0.89rem;

    width: 150px;
    text-align: start;
}


.Top-WrapWidth > ul > li:hover .amusementTab {
    display: block;
}

.Top-WrapWidth > ul > li > div {
    border-left: 1px solid #e5e5e5;
    width: calc(100% + 2px);
    margin-left: -1px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
    display: none;
    position: relative;
    z-index: 101;
}

.amusementTab ul li a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 17px;
    color: #555555;
    font-size: 0.78rem;

    text-align: start;
}



.att-title {
    height: 90px;
}

.att-width {
    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
}

.att-width h3 {
    float: left;
    height: 90px;
    width: 30%;
    font-weight: 500;
    color: #252525;
    font-size: 1.67rem;
    line-height: 110px;
    letter-spacing: -2px;
}

.content-control {
    float: right;
    height: 90px;
    width: 70%;
}

.content-control > ul {
    float: right;
    margin-top: 40px;
}

.content-control > ul > li:first-child {
    background-position: -3px -603px;
}

.content-control > ul > li {
    float: left;
    display: inline-block;
    height: 32px;
    cursor: pointer;
    margin-left: 5px;
    padding: 0px 10px 0px 28px;
    background-image: url('/static/main-image/main-logo/glass.png');
    background-repeat: no-repeat;
    color: #252525;
    font-size: 0;
    font-weight: 500;
    line-height: 28px;
    position: relative;
}

.snslist {
    display: none;
    border: 1px solid #ed1c24;
    position: absolute;
    top: 36px;
    right: 0;
    width: 264px;
    min-height: 181px;
    background-color: #ffffff;
    z-index: 101;
    cursor: default;
}

.snslistBtn:hover .snslist{
    display: block;
}


.snslist > b {
 display: block;
 text-align: center;
 font-size: 0.89rem;
 color: #000000;
 height: 40px;
 line-height: 40px;
 font-weight: 400;
}

.snslist > span {
    position: absolute;
    top: 11px;
    right: 8px;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url('/static/main-image/main-logo/button-collection.png');
    background-repeat: no-repeat;
    background-position: -12px -511px;
}
.snslist > ul {
    padding: 0px 10px;
}

.snslist > ul > li {
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 10px;
    color: #555555;
    font-size: 0.65rem;
    letter-spacing: -2px;
    font-weight: 300;
}

.snslist > ul > li > span {
    display: block;
    width: 34px;
    height: 32px;
    margin: 0px auto;
    border: 1px solid #c1c2c6;
    cursor: pointer;
    background-image: url('/static/main-image/main-logo/collection.png');
    background-repeat: no-repeat;
}

.snslist > ul > li:first-child span{
    background-color: #448ccb;
    background-position: 50% -13px;
}

.snslist > ul > li:nth-child(2) span {
    background-color: #44c8f5;
    background-position: 50% -113px;
}

.snslist > ul > li:nth-child(3) span {
    background-color: #5ab534;
    background-position: 50% -213px;
}

.snslist > ul > li:nth-child(4) span {
    background-color: #fff413;
    background-position: 50% -613px;
}

.snslist > ul > li:nth-child(5) span {
    background-color: #08ab1e;
    background-position: 50% -713px;
}

.snslist > ul > li:nth-child(6) span {
    background-color: #fae100;
    background-position: 50% -813px;
}

.snslist > ul > li:nth-child(7) span {
    background-color: #02b903;
    background-position: 50% -913px;
}

.snslist > ul > li:nth-child(8) span {
    background-color: #ffffff;
    background-position: 50% -1013px;
}

.url-btn {
    background-position: -3px -403px;
}

.print {
    background-position: -3px -503px;
}

/* 상단 바까지 */

#discountinfo {
    padding: 10px 0;
}

.WrapWidth {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

#discountinfo dl {
    width: 100%;
    border-top: 1px solid #868686;
}

#discountinfo dl dt {
    min-height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #c1c2c6;
    text-align: left;
    font-size: 28px;
    padding-left: 70px;
    position: relative;
}

.badge {
    position: absolute;
    width: 61px;
    height: 52px;
    background-color: #5674b9;
    left: 0;
    font-weight: 500;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    padding: 12px 18px;
    line-height: 14.5px;
    word-break: break-all; /* 글자 기준 강제 줄바꿈 */
}

#discountinfo dl dd {
    border-bottom: 1px solid #c1c2c6;
    min-height: 40px;
}

#discountinfo dl dd.information span:first-child {
    font-size: 0;
}

#discountinfo dl dd.information span:last-child {
    text-align: right;
}

#discountinfo dl dd.information span {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #868686;
    font-size: 11px;
    font-weight: 500;
}

#discountinfo dl dd.content {
    padding: 35px 0;
    word-wrap: break-word; /*비 아시아 언어 줄바꿈 제어*/
    word-break: break-all;
    overflow: auto;
}

#discountinfo h4 {
    font-size: 31px;
    text-align: center;
    padding: 20px 0;
}

.priceinfo h4 {
    min-height: 90px;
    line-height: 40px;
    letter-spacing: -2px;
}

.priceinfo table {
    width: 100%;
    border-top: 1px solid #000000;
}

table {
    border-collapse: collapse; /*셀의 테두리 선 간격을 벌려 표시*/
}

.priceinfo table thead {
    background-color: #f9f9f9;
}

.priceinfo table thead th {
    height: 54px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 400;
}

.priceinfo table thead th:first-child {
    border-left: 1px solid #e2e2e2;
}

.priceinfo table tbody th {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 400;
    word-wrap: break-word;
    word-break: keep-all; /* 단어 기준으로 줄 바꿈 */
}

.priceinfo table tbody td {
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    text-align:  center;
    padding: 15px 4px;
    word-wrap: break-word;
    word-break: keep-all;
}

#discountinfo .button-Area {
    clear: both;
    padding: 30px 0 80px 0;
}

.button-Area a {
    display: inline-block;
    height: 64px;
    padding: 0px 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(237, 28, 36);
    line-height: 60px;
    font-weight: 500;
}

.button-Main {
    clear: both;
    text-align: right;
    padding: 30px 0 80px 0;
}

#discountinfo .button-Main a {
    display: inline-block;
    height: 50px;
    width: 140px;
    text-align: center;
    line-height: 44px;
    border: 2px solid #ed1c24;
    border-radius: 25px;
    font-size: 18px;
    color: #ed1c24;
    background-color: #f7f7f7;
}

/* 중앙 끝 */

/* 하단바 시작*/
#footer-bottom {
    clear: both;
    background-color: #ffffff;
}

.footer-category {
    background-color: #2f3336;
    height: 60px;
    
}

.footer-category-list {
    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
}

.bottom-sns ul li {
    float: left;
    margin-left: 15px;
}


.bottom-sns ul li:first-child {
    margin-left: 0px;
}

.bottom-sns ul li span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #4589ce;
    background-image: url('/static/main-image/main-logo/collection.png');
    background-repeat: no-repeat;
    background-position: 50% -12px;
    border-radius: 16px;
    vertical-align: middle;
    margin: 0px 10px;
}

.bottom-sns ul li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-weight: 300;
    color: #ffffff;
    font-size: 0.83rem;
}

.bottom-sns ul li:nth-child(2) span {
    background-color: #3eb852;
    background-position: 50% -312px;
}

.bottom-sns ul li:nth-child(3) span {
    background-color: #7231a3;
    background-position: 50% -412px;
}

.bottom-sns ul li:nth-child(4) span {
    background-color: #e62c28;
    background-position: 50% -512px;
}

.bottom-sns ul li:nth-child(5) span {
    background-color: #000;
    background-position: 50% -1410px;
}

.bottom-sns ul li:nth-child(6) span {
    background-color: #e7b919;
    background-position: 50% -1465px;
}


.footer-category-top {
    
    float: right;
    display: inline-block;
    width: 105px;
    height: 60px;
    line-height: 60px;
    background-color: #1e2123;
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
    color: #ffffff;
    background-image: url('/static/main-image/main-logo/button-collection.png');
    background-repeat: no-repeat;
    background-position: 17px -89px;
    padding-left: 20px;
    cursor: pointer;

    
    
}


.bottom-left {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 180px;
    
    position: relative;
}

.information-details-left {
    margin-top: 33px;
    float: left;
    width: 250px;
    height: 93px;
}

.information-details-center {
    float: left;
    width: 890px;
   
}

.center-company {
    clear: both;
    padding-top: 33px;
}

.center-company ul li:first-child {
    margin-left: 0px;
    padding-left: 0px;
    background-image: url('/static/main-image/main-logo/bullet.png');
    background-repeat: no-repeat;
    background-position: -11px -2px;
}
.center-company ul li {
    float: left;
    margin-left: 8px;
    padding-left: 8px;
    background-image: url('/static/main-image/main-logo/bullet.png');
    background-repeat: no-repeat;
    background-position: -11px -2px;
}

.center-company ul li a {
    color: #707070;
    font-size: 0.83rem;
}

.center-company-imformation {
    clear: both;
    padding-top: 15px;
}


.center-company-imformation ul li:first-child {
    margin-left: 0px;
    padding-left: 0px;
    background-image: none;

}

.center-company-imformation ul li {
    display: inline-block;
    margin-left: 8px;
    padding-left: 8px;
    background-image: url('/static/main-image/main-logo/bullet.png');
    background-repeat: no-repeat;
    background-position: -12px -405px;
    color: #898989;
    font-size: 0.65rem;
}

.bottom-copyright {
    clear: both;
    padding-top: 7px;
    padding-bottom: 50px;
}

.bottom-copyright ul li {
    color: #a1a1a1;
    font-size: 0.75rem;
    text-align: left;
}

.right-company-imformation {
    float: left;
    position: absolute;
    left: 85%;
}


.company-family {
    width: 164px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #d6d6d6;
    font-weight: 300;
    font-size: 0.78rem;
    color: #8a8a8a;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    
}

.company-family ul li {
    height: 36px;
    line-height: 36px;
    
}

.company-family ul > li:hover .company-name{
    display: block;
    
}

.company-family ul li div {
    height: 0;
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
    left: 0;
    bottom: 36px;
    transition: 0.2s;
    
}

.company-name {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    display: none;
}

.company-name li {
    height: 34px;
    line-height: 30px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 0.67rem;
    background-color: #ffffff;
}

.company-name li:first-child {
    border-top: 1px solid #d6d6d6;
}

.company-name li a {
    font-size: 0.67rem;
    line-height: 30px;
    
} 
/* 하단바 끝*/