body {
    top: 0;
}

.WrapTop {
    position: relative;
}
#TopLNB {
    width: 100%;
    height: 260px;
    clear: both;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/TopLNBimg.jpg);
    z-index: 101;

}

.backimg {
    height: 260px;
    background-color: rgba(0, 0, 0, 0.56);
}

.backimg h2 {
    font-weight: 500;
    font-size: 57px;
    color: #ffffff;
    text-align: center;
    line-height: 210px;
}

#TopLocation {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #959595;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.56);
}

.WrapWidth {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

.WrapWidth::after {
    content: "";
    clear: both;
    display: block;
}


.first-ul {
    display: flex;

    margin: 0 auto;
}

.homeimg {
    display: inline-block;
    border-right: 1px solid #959595;
    width: 40px;
    height: 39px;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/homeimg.png);
    background-repeat: no-repeat;
    background-position: 0px -298px;
}
.homeimg a {
    width: 40px;
    display: inline-block;
    height: 39px;
    line-height: 36px;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 15px;
    text-decoration: none;
}

.add-menu {
    
    border-right: 1px solid #959595;
    width: 185px;
    height: 39px;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/sign.png);
    background-repeat: no-repeat;
    background-position: 145px 0px;
}

.add-menu span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding: 0 17px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
}

.select-menu {
    border: 1px solid #e5e5e5;
    width: calc(100% + 2px);
    margin-left: -1px;
    background-color: #ffffff;
    display: none;
}

.select-menu a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 17px;
    color: #555555;
    font-size: 12.5px;
}

.select-menu a:hover {
    background-color: #959595;
    color: #ffffff;
    text-decoration: none;
}

#WrapContents {
    clear: both;
    min-width: 900px;
    padding-top: 410px;
}

#ContentTitle {
    height: 90px;
}

#ContentTitle h3 {
    float: left;
    height: 90px;
    width: 30%;
    font-weight: 500;
    color: #252525;
    font-size: 26.7px;
    line-height: 110px;
    letter-spacing: -2px;
}

.ContentControl {
    float: right;
    height: 90px;
    width: 70%;
}

.ContentControl ul {
    float: right;
    margin-top: 40px;
}

.snslistBtn {
    
    display: inline-block;
    height: 32px;
    cursor: pointer;
    margin-left: 5px;
    padding: 0px 10px 0px 28px;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/공유하기img.png);
    background-position: -3px -603px;
    color: #252525;
    font-size: 0px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
}

.snslist{
    display: none;
    border: 1px solid #ed1c24;
    position: absolute;
    top: 36px;
    right: 0px;
    width: 264px;
    min-height: 181px;
    background-color: #ffffff;
    z-index: 101;
    cursor: default;
}

.close {
    position: absolute;
    top: 11px;
    right: 8px;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/sign.png);
    background-position: -12px -511px;
} /* 공유하기 버튼 누르기 */

.clipboardUrlBtn {
    
    display: inline-block;
    height: 32px;
    cursor: pointer;
    margin-left: 5px;
    padding: 0px 10px 0px 28px;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/공유하기img.png);
    background-position: -3px -403px;
    color: #252525;
    font-size: 0px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
}

.printBtn {
    
    display: inline-block;
    height: 32px;
    cursor: pointer;
    margin-left: 5px;
    padding: 0px 10px 0px 28px;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/공유하기img.png);
    background-position: -3px -503px;
    color: #252525;
    font-size: 0px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
}

#WrapPrint {
    width: 2537px;
    height: 1680px;
}

#RecommendedCourse {
    height: 380px;
    background-color: #ed1c24;
}

.WrapWidth-1 {
    margin: 0 190px;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    height: 350.8px;
}

#RecommendedCourse h4{
    font-weight: 300;
    font-size: 35.5px;
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

#RecommendedCourse h4 span {
    font-weight: 500;
    color: #fff200;
}

#RecommendedCourse h4 p {
    font-weight: 300;
    font-size: 14.2px;
    letter-spacing: 0;
}

#RecommendedCourse ul {
    width: 100%;
    margin-top: 30px;
    height: 0px;
}

#RecommendedCourse ul li:first-child {
    margin-left: 0;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

#RecommendedCourse ul li {
    float: left;
    width: 206px;
    margin-left: calc(25% - 257.5px);
    text-align: center;
}

.WrapWidth-2 {
    margin: 0 190px;
    width: 100%;
    height: 1300px;
    max-width: 1300px;
    padding: 0;
}

#RecommendedCourseList {
    height: 1300px;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/gjwCourse.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    margin-bottom: 60px;
}

#RecommendedCourseList h5 {
    
    top: 110px;
    left: 58px;
    font-size: 24px;
    font-weight: 300;
    position: absolute;

    color: #2c2c2c;
}

#RecommendedCourseList h5 b {

    font-weight: 500;
}

#RecommendedCourseList div.CourseList {
    width: 170px;
    height: 250px;
    position: absolute;
}

#RecommendedCourseList div.CourseList:nth-child(2) {
    top: 110px;
    left: 392px;
}

#RecommendedCourseList div.CourseList:nth-child(3) {
    top: 110px;
    left: 728px;
}

#RecommendedCourseList div.CourseList:nth-child(4) {
    top: 110px;
    left: 1064px;
}

#RecommendedCourseList div.CourseList:nth-child(5) {
    top: 662px;
    left: 1064px;
}

#RecommendedCourseList div.CourseList:nth-child(6) {
    top: 662px;
    left: 728px;
}

#RecommendedCourseList div.CourseList:nth-child(7) {
    top: 662px;
    left: 392px;
}

#RecommendedCourseList div.CourseList:nth-child(8) {
    top: 662px;
    left: 56px;
}

#RecommendedCourseList div.CourseList:nth-child(9) {
    top: 1025px;
    left: 392px;
}

#RecommendedCourseList div.CourseList:nth-child(10) {
    top: 1025px;
    left: 728px;
}

#RecommendedCourseList div.CourseList:nth-child(11) {
    top: 1025px;
    left: 1064px;
}

#RecommendedCourseList div.photo {
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

#RecommendedCourseList div.title {
    height: 44px;
    text-align: center;
    line-height: 50px;
    letter-spacing: -2px;

    font-size: 16px;
    font-weight: 700;
    color: #252525;
}

#RecommendedCourseList div.zone {
    height: 27px;
    text-align: center;
}

#RecommendedCourseList div.zone span.name {
    display: inline-block;
    height: 27px;
    line-height: 23px;
    padding: 0 15px 0 30px;

    border: 1px solid #a1a1a1;
    border-radius: 13px;

    font-size: 11.5px;
    color: #8c8c8c;

    background-image: url(/gjw.project/src/main/resources/static/img-kdh/homeimg.png);
    background-repeat: no-repeat;
    background-position: -400px -715px;
}

#RecommendedCourseList div.num {
    display: none;
}

/* 코스 부분 끝  */

/* 하단 바 시작 */

#WrapBottom {
    clear: both;
    background-color: #ffffff;
}

#BottomFNB {
    background-color: #2f3336;
    height: 60px;
}

#BottomSNS ul {
    height: 0px;
}

.Sns-first-li {
    margin-left: 0px;
    float: left;
}

.Sns-Remain-li {
    float: left;
    margin-left: 15px;
}

#BottomSNS ul li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-weight: 300;
    color: #ffffff;
    font-size: 13px;
}

#BottomSNS ul li span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #4589ce;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/snsimg.png);
    background-position: 50% -12px;
    border-radius: 16px;
    vertical-align: middle;
    margin: 0 10px;
}

#BottomSNS ul li:nth-child(2) span {
    background-color: #3eb852;
    background-position: 50% -312px;
}

#BottomSNS ul li:nth-child(3) span {
    background-color: #7231a3;
    background-position: 50% -412px;
}

#BottomSNS ul li:nth-child(4) span {
    background-color: #e62c28;
    background-position: 50% -512px;
}

#BottomSNS ul li:nth-child(5) span {
    background-color: #000;
    background-position: 50% -1410px;
}

#BottomSNS ul li:nth-child(6) span {
    background-color: #e7b919;
    background-position: 50% -1465px;
}

#BottomGoTop {
    float: right;
    display: inline-block;
    width: 105px;
    height: 60px;
    background-color: #1e2123;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/sign.png);
    background-position: 17px -89px;
    padding-left: 20px;
    padding-top: 22px;
    cursor: pointer;
}

#BottomContents {
    width: 2537px;
    height: 174px;
}

.WrapWidth-last {
    width: 1300px;
    height: 174px;
    margin: 0px 200px;
}

#BottomLeft {
    
    float: left;
    width: 250px;
}

#BottomLogo {
    margin-top: 33px;
}

#BottomCenter {
    float: left;
    width: 886px;
    height: 174px;
}

#BottomMenu {
    height: 33px;
    clear: both;
    padding-top: 33px;
}

#BottomMenu ul {
    height: 0px;
}

#BottomMenu ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

#BottomMenu ul li {
    float: left;
    margin-left: 8px;
    padding-left: 8px;
    background-position: -11px -2px;
}

#BottomMenu ul li:nth-child(n+2):nth-child(-n+6) {
background-image: url(/gjw.project/src/main/resources/static/img-kdh/Bottommenu.png);
}

#BottomMenu ul li a {
    color: #707070;
    font-size: 13px;
}

#BottomMobileLogo {
    display: none;
}

#BottomInfomation {
    clear: both;
    padding-top: 15px;
}

#BottomInfomation ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

#BottomInfomation ul li {
    display: inline-block;
    margin-left: 8px;
    padding-left: 8px;
    background-position: -12px -405px;
    color: #898989;
    font-size: 13px;
}

#BottomInfomation ul li:nth-child(n+2):nth-child(-n+5) {
    background-image: url(/gjw.project/src/main/resources/static/img-kdh/Bottommenu.png);
}


#BottomCopyright {
    clear: both;
    padding-top: 7px;
    padding-bottom: 50px;
}

#BottomCopyright ul li {
    color: #a1a1a1;
    font-size: 13px;
}

#BottomRight {
    float: left;
}

#BottomFamily {
    width: 164px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #d6d6d6;
    font-weight: 300;
    font-size: 13px;
    color: #8a8a8a;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

#BottomFamily ul li {
    height: 36px;
    line-height: 36px;
    position: relative;
}

/* 하단 끝 */

