<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운영시간</title>
    <link rel="stylesheet" href="/static/css/operation.dyj/operation_style.css">
    <link rel="stylesheet" href="/static/css/operation.dyj/operation-holiday.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
<body style="position: relative; min-height: 100%; top: 0px;">
    <!--상단 배너 시작-->
    <header >
        <div id="TopBanner">
            <div class="box-wrapper" style="max-width: 100%;">
                <div class="box-viewport" style="width: 100%; overflow: hidden; position: relative; height: 110px;">
                    <ul class="box-slider-list" style="width: 715%; position: relative;">
                        <!-- transition-duration: 1s; transform: translate3d(-761, , );-->
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-cloth.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-hwang.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-worldcast.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                               
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- transition-duration: 50s;
    transform: translate3d(-7595px, 0px);-->
                <div class="box-controller">
                    <div class="box-pager">
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">1</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">2</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">3</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">4</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--상단 배너 끝-->
        <!--퀵 배너-->
        <div id="quickController">
            <span class="toggle-botten"></span>
            <ul>
                <li>
                    <a href="할인정보 페이지">
                        <img src="/static/main-image/PC-quick/saleimformation.png" alt="">
                        <span>할인정보</span>
                    </a>
                </li>
                <li>
                    <a href="공연정보 페이지">
                        <img src="/static/main-image/PC-quick/gongyeon.png" alt="">
                        <span>공연정보</span>
                    </a>
                </li>
                <li class="draken">
                    <a href="드라켄벨리">
                        <img src="/static/main-image/PC-quick/draken.png" alt="">
                        <span>드라켄벨리</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--퀵 배너 끝-->
        <!--상단 메인 시작-->
        <div id="main-top">
            <div class="topWrap">
                <div class="main-top-top">
                    <div class="main-top-top-details">
                        <div class="main-top-left">
                            <ul class="main-top-left-ul">
                                <li class="first">
                                    <a href="경주월드 어뮤즈먼트 사이트" class="on"> 
                                        경주월드 어뮤즈먼트
                                    </a>
                                </li>
                                <li class="second">
                                    <a href="캘리포니아비치 사이트">
                                        캘리포니아비치
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-top-middle">
                            <a href="경주월드 메인 사이트 주소">
                                <img src="/static/main-image/main-logo/main-logo.jpg" style="width: 196px; height: 78px;">
                                
                            </a>
                        </div>
                        <div class="main-top-right">
                            <div class="main-top-list">
                                <ul>
                                    <li>
                                        <a href="메인사이트 주소">홈</a>
                                    </li>
                                    <li>
                                        <a href="로그인 사이트 주소">로그인</a>
                                    </li>
                                    <li>
                                        <a href="회원가입 사이트 주소">회원가입</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="단체예약 사이트 주소" style="color: #f26c4f;">단체예약</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="연간이용권 사이트 주소" style="color: #f26c4f;">연간이용권</a>
                                    </li>
                                    <li class="choice">
                                        <a href="">
                                            <img src="/static/main-image/main-logo/google.png" style="height: 19px; width: 19;">
                                            언어 선택
                                            <img src="/static/main-image/main-logo/languge.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-top-search" style="display: block;">
                                <form action="" name="frmSearch">
                                    <label for="search-label">
                                        검색어
                                        <strong class="sound_only">필수</strong>
                                    </label>
                                    <input type="text" name="search-input" class="hash-tag-input1" style="display: none;">
                                    
                                    <input type="text" class="sch_submit" value="검색">
                                    <div class="hash-tag-input2"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-top-bottom">
                    <div class="main-top-bottom-all">
                        <div class="main-top-menu" style=" width: 100%; left: 0px; top: 0px; height: 56px;">
                            <ul style="margin-top: 0px;">
                                <li class="list-hover">
                                    <a href="이용정보 주소들어가는 곳" style="font-size: 20px;">
                                        이용정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">운영시간</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">운휴정보</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용꿀팁</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">주차안내</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="요금정보 주소들어가는 곳" style="font-size: 20px;">
                                        요금정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용요금</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">우대프로그램</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">제휴카드</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">기업체 특판안내</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="어트랙션 주소들어가는 곳" style="font-size: 20px;">
                                        어뮤즈먼트 소개
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">어트랙션</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">레스토랑&스낵</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">부대시설</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">가이드맵</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공연 및 이벤트 주소들어가는 곳" style="font-size: 20px;">
                                        공연 및 이벤트
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공지사항 주소들어가는 곳" style="font-size: 20px;">
                                        고객센터
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">공지사항</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="시작페이지 주소들어가는 곳" style="font-size: 20px;">
                                        스마트할인예약
                                    </a>
                                    <ul class="hover" style="display: none; opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">티켓예매</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">단체예약</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">연간이용</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--상단 메인 끝-->
    <!--중단 메인 시작-->
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>이용정보</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="">홈</a>
                            </li>
                            <li>
                                <span>이용정보</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>운영시간</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">운영시간</a>
                                        </li>
                                        <li>
                                            <a href="">운휴정보</a>
                                        </li>
                                        <li>
                                            <a href="">이용꿀팁</a>
                                        </li>
                                        <li>
                                            <a href="">주차안내</a>
                                        </li>
                                        <li>
                                            <a href="">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notice-contents">
            <div class="notice-contents-title">
                <div class="notice-wrap-width">
                    <h3>운휴정보</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick=""></span>
                                            페이스북
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            트위터
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            블로그
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오톡
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="operation-print">
                <div class="select-day">
                    <div class="select-width">
                        <div class="select-day-details">
                            <div class="left">2023.07</div>
                            <div class="right">
                                <button type="button" class="prev">이전</button>
                                <ul>
                                    <li>
                                        <span>17</span>
                                    </li>
                                    <li>
                                        <span>18</span>
                                    </li>
                                    <li>
                                        <span>19</span>
                                    </li>
                                    <li>
                                        <span>20</span>
                                    </li>
                                    <li class="on">
                                        <span>21</span>
                                    </li>
                                    <li>
                                        <span>22</span>
                                    </li>
                                    <li>
                                        <span>23</span>
                                    </li>
                                
                                </ul>
                                <button type="button" class="next">다음</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information">
                    <div class="information-width">
                        <h4>운휴시설</h4>
                        <ul class="ajax-container">
                            <li class="container-row">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/drollwizardtrain.jpg');">
                                        <span class="badge">운휴기종</span>
                                    </div>
                                    <div class="theme-information">
                                        <span class="name">드롤의 위자드트레인</span>
                                        <p>안전 점검</p>
                                        <span class="location">위자드가든</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-row">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/swanicloud.jpg');">
                                        <span class="badge">운휴기종</span>
                                    </div>
                                    <div class="theme-information">
                                        <span class="name">스와니의 클라우드 라이드</span>
                                        <p>안전 점검</p>
                                        <span class="location">위자드가든</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-row">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/dragontrain.jpg');">
                                        <span class="badge">운휴기종</span>
                                    </div>
                                    <div class="theme-information">
                                        <span class="name">비룡열자</span>
                                        <p>안전 점검</p>
                                        <span class="location">놀이기구</span>
                                    </div>
                                </a>
                            </li>
                            <li class="container-row">
                                <a href="">
                                    <div class="photo" style="background-image: url('/static/operation/summer.jpg');">
                                        <span class="badge">운휴기종</span>
                                    </div>
                                    <div class="theme-information">
                                        <span class="name">섬머린스플래쉬</span>
                                        <p>안전 점검</p>
                                        <span class="location">놀이기구</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div style="clear: both;">
                            <p>* 고객 여러분의 안전을 위해 어트랙션(놀이기구)의 안전 점검을 상시적으로 시행하고 있습니다.</p>
                            <p>* 기상상황 악화 시, 혹은 파크 사정상 예고 없이 어트랙션 운행이 중단될 수 있습니다.</p>
                            <p>* 기상으로 인한 운휴의 경우에는 기후조건에 따라 점검을 통해 재운행 될 수 있습니다.</p>
                            <p>* 
                                <b>서라벌관람차는 운행 마감</b>
                                하여 이제는 탑승이 불가능합니다. 멋진 포토스팟으로 즐겨주세요.</p>
                        </div>
                    </div>
                </div>
                <div class="content-width">
                   <div class="total-information">
                        <h4>운휴안내
                            <div class="icon-desc">
                                <span>운영중</span>
                                <span>대기중</span>
                                <span>운휴</span>
                            </div>
                            )
                        </h4>
                        <dl>
                            <dt>위자드가든</dt>
                            <dd>
                                <span class="title">트리키리키의 볼하우스</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">드롤의 위자드트레인</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">글린다의 매직펌킨</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">보기의 문라이트세일</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">스와니의 클라우드 라이드</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">페기의 케로셀</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">스파키의 매직카</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dt>엑스존</dt>
                            <dd>
                                <span class="title">메가드롭</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">토네이도</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">파에톤</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">그랜드캐년대탐험</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dt>드라켄벨리</dt>
                            <dd>
                                <span class="title">발키리</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">드래곤레이스</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">크라크</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">드라켄</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dt>놀이기구</dt>
                            <dd>
                                <span class="title">미로탐험</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">비룡열차</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">패밀리 바이킹</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">킹 바이킹</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">에어벌룬</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">바운스스핀</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">댄싱컵</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">급류타기</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">가족열차</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">범퍼카</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd>
                                <span class="title">섬머린스플래쉬</span>
                                <span class="state">
                                    <span class="on"></span>
                                </span>
                            </dd>
                            <dd class="empty">
                                <span class="title"></span>
                                <span class="state"></span>
                            </dd>
                            <dd class="empty">
                                <span class="title"></span>
                                <span class="state"></span>
                            </dd>
                            <dd class="empty">
                                <span class="title"></span>
                                <span class="state"></span>
                            </dd>
                        </dl>
                        
                   </div> 
                </div>
            </div>
        </div>
    </main>
    <!--중단 메인 끝-->
    <!--하단 메인 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ea1271e419.js" crossorigin="anonymous"></script>
    <script src="/static/js/operation-js/operation.js"></script>
</body>
</html>