<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="/static/css/notice.dyj/notice_style.css">
    <link rel="stylesheet" href="/static/css/notice.dyj/notice_client.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
<body style="position: relative; min-height: 100%; top: 0px;">
    <!--상단 배너 시작-->
    <header >
        <div id="TopBanner">
            <div class="box-wrapper" style="max-width: 100%;">
                <div class="box-viewport" style="width: 100%; overflow: hidden; position: relative; height: 110px;">
                    <ul class="box-slider-list" style="width: 715%; position: relative;">
                        <!-- transition-duration: 1s; transform: translate3d(-761, , );-->
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-cloth.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-hwang.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-worldcast.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                               
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- transition-duration: 50s;
    transform: translate3d(-7595px, 0px);-->
                <div class="box-controller">
                    <div class="box-pager">
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">1</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">2</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">3</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">4</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--상단 배너 끝-->
        <!--퀵 배너-->
        <div id="quickController">
            <span class="toggle-botten"></span>
            <ul>
                <li>
                    <a href="할인정보 페이지">
                        <img src="/static/main-image/PC-quick/saleimformation.png" alt="">
                        <span>할인정보</span>
                    </a>
                </li>
                <li>
                    <a href="공연정보 페이지">
                        <img src="/static/main-image/PC-quick/gongyeon.png" alt="">
                        <span>공연정보</span>
                    </a>
                </li>
                <li class="draken">
                    <a href="드라켄벨리">
                        <img src="/static/main-image/PC-quick/draken.png" alt="">
                        <span>드라켄벨리</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--퀵 배너 끝-->
        <!--상단 메인 시작-->
        <div id="main-top">
            <div class="topWrap">
                <div class="main-top-top">
                    <div class="main-top-top-details">
                        <div class="main-top-left">
                            <ul class="main-top-left-ul">
                                <li class="first">
                                    <a href="경주월드 어뮤즈먼트 사이트" class="on"> 
                                        경주월드 어뮤즈먼트
                                    </a>
                                </li>
                                <li class="second">
                                    <a href="캘리포니아비치 사이트">
                                        캘리포니아비치
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-top-middle">
                            <a href="경주월드 메인 사이트 주소">
                                <img src="/static/main-image/main-logo/main-logo.jpg" style="width: 196px; height: 78px;">
                                
                            </a>
                        </div>
                        <div class="main-top-right">
                            <div class="main-top-list">
                                <ul>
                                    <li>
                                        <a href="메인사이트 주소">홈</a>
                                    </li>
                                    <li>
                                        <a href="로그인 사이트 주소">로그인</a>
                                    </li>
                                    <li>
                                        <a href="회원가입 사이트 주소">회원가입</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="단체예약 사이트 주소" style="color: #f26c4f;">단체예약</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="연간이용권 사이트 주소" style="color: #f26c4f;">연간이용권</a>
                                    </li>
                                    <li class="choice">
                                        <a href="">
                                            <img src="/static/main-image/main-logo/google.png" style="height: 19px; width: 19;">
                                            언어 선택
                                            <img src="/static/main-image/main-logo/languge.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-top-search" style="display: block;">
                                <form action="" name="frmSearch">
                                    <label for="search-label">
                                        검색어
                                        <strong class="sound_only">필수</strong>
                                    </label>
                                    <input type="text" name="search-input" class="hash-tag-input1" style="display: none;">
                                    
                                    <input type="text" class="sch_submit" value="검색">
                                    <div class="hash-tag-input2"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-top-bottom">
                    <div class="main-top-bottom-all">
                        <div class="main-top-menu" style=" width: 100%; left: 0px; top: 0px; height: 56px;">
                            <ul style="margin-top: 0px;">
                                <li class="list-hover">
                                    <a href="이용정보 주소들어가는 곳" style="font-size: 20px;">
                                        이용정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">운영시간</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">운휴정보</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용꿀팁</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">주차안내</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="요금정보 주소들어가는 곳" style="font-size: 20px;">
                                        요금정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용요금</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">우대프로그램</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">제휴카드</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">기업체 특판안내</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="어트랙션 주소들어가는 곳" style="font-size: 20px;">
                                        어뮤즈먼트 소개
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">어트랙션</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">레스토랑&스낵</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">부대시설</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">가이드맵</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공연 및 이벤트 주소들어가는 곳" style="font-size: 20px;">
                                        공연 및 이벤트
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공지사항 주소들어가는 곳" style="font-size: 20px;">
                                        고객센터
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">공지사항</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="시작페이지 주소들어가는 곳" style="font-size: 20px;">
                                        스마트할인예약
                                    </a>
                                    <ul class="hover" style="display: none; opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">티켓예매</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">단체예약</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">연간이용</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--상단 메인 끝-->
    <!--중단 메인 시작-->
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>고객센터</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="">홈</a>
                            </li>
                            <li>
                                <span>고객센터</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>공지사항</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">공지사항</a>
                                        </li>
                                        <li>
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li>
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li>
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notice-contents">
            <div class="notice-contents-title">
                <div class="notice-wrap-width">
                    <h3>고객소리함</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick=""></span>
                                            페이스북
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            트위터
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            블로그
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오톡
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <div id="wrap-print">
            <div class="client-wrap-width">
                <div class="board-Agree">
                    <div class="agree-text">    
				        저희 경주월드에 칭찬사항이나 불편, 문의사항을 남겨주세요. 고객님의 소중한 의견을 귀담아 듣고 더 나은 서비스를 제공하겠습니다.
                        <br>
				        개인정보 수집 및 활용에 대한 동의와 아래 내용을 확인하신 후 등록해주세요
                        <table>
                            <thead>
                                <tr>
                                    <th>목적</th>
                                    <th>항목</th>
                                    <th>보유기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>고객 접수내용에 대한 의사소통 경로 확보</td>
                                    <td>이름, 이메일, 연락처, 성별, 연령</td>
                                    <td>관련 법령에 따라 3년 보관 후 파기</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="client-privacy">
                            <i>- 개인정보 수집 및 활용에 대한 동의를 거부하실 수 있습니다. 단, 동의 거부 시 작성하신 내용이 등록되지 않습니다.</i>
                            <i>
                                -자세한 내용은
                                <a href="" class="view-privacy">
                                    개인정보 보호정책
                                </a>
                                에서 확인 하실 수 있습니다.
                            </i>
                        </div>
                        <div class="popup-privacy">
                            <div class="popup-text">
                                <b>개인정보 보호정책</b>
                                총 칙

                                ① GyeongjuWorld는 귀하의 개인정보보호를 매우 중요시하며, 『정보통신망 이용촉진 및 정보보호에 관한 법률』상의 개인정보보호규정 및 정보통신부가 제정한 『개인정보보호지침』을 준수하고 있습니다. GyeongjuWorld는 개인정보취급방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
                                ② GyeongjuWorld는 개인정보취급방침을 홈페이지 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.

                                1. 개인정보의 수집 및 이용목적

                                ① GyeongjuWorld는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.
                                - 성명, 아이디, 비밀번호, 전화번호, 휴대전화번호 : 회원제 서비스 이용에 따른 본인 확인, 개인 식별, 불량회원의 부정이용방지, 비인가 사용 방지, 가입 의사 확인, 가입회수 제한, 만 14세 미만 아동 개인정보 수집 시 법정 대리인 동의 여부 확인, 추후 법정 대리인 본인확인,
                                - 전자우편(e-mail)주소, (뉴스레터 수신여부) : 고지사항 전달, 본인 의사 확인, 불만사항 민원 처리 등 원활한 의사소통 경로의 확보, 새로운 서비스, 이벤트 정보 등 최신 정보의 안내
                                - 그 외 선택항목 : 개인맞춤 서비스를 제공하기 위한 자료
                                - 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
                                :IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록
                                - 부가 서비스 및 맞춤식 서비스 이용 또는 이벤트 응모 과정에서 해당 서비스의 이용자에 한해서만 아래와 같은 정보들이 수집될 수 있습니다.
                                :주소, 연락처, 사용 이동통신사 등

                                2. 개인정보의 수집범위

                                GyeongjuWorld는 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다. GyeongjuWorld의 회원제 서비스를 이용하시고자 할 경우 다음의 필수사항을 입력해주셔야 하며, 선택사항은 입력하시지 않았다 하여 서비스 이용에 제한은 없습니다.
                                ① 회원가입 시 수집하는 개인정보의 범위
                                - 성명, 희망 ID, 비밀번호, 주소, 전화번호, 휴대전화 번호, 이메일주소, 생년월일
                                ② 서비스 이용과정에서 생성, 수집되는 정보
                                - 서비스 이용기록, 접속로그, 쿠키, 접속IP정보, 결제기록, 이용정지 기록

                                3. 개인정보의 보유기간 및 이용기간

                                ① 귀하의 개인정보는 다음과 같이 개인정보의 수집목적 또는 제공받은 목적이 달성되면 지체 없이 파기됩니다. 단, 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 예외로 합니다.
                                - 회원가입정보의 경우, 회원가입을 탈퇴하거나 회원에서 제명된 때
                                - 설문조사, 이벤트 등 일시적 목적을 위하여 수집된 경우 : 당해 설문 조사, 이벤트 등이 종료한 때
                                ② 위 개인정보 수집목적 달성 시 즉시파기 원칙에도 불구하고 다음과 같이 거래 관련 권리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 전자상거래 등에서의 소비자보호에 관한 법률 등에 근거하여 일정기간 보유합니다.
                                - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
                            </div>
                            <a href="" class="close-privacy">확인</a>
                        </div>
                        <div class="privacy-dim" style="display: none;"></div>
                    </div>
                    <p>
                        <input type="checkbox" name="agree" id="agree">
                        
                        <label for="agree">
                            개인정보 수집 및 활용에 동의합니다.
                            <b>(필수)</b>
                        </label>
                    </p>
                </div>
                <div class="board-write">
                    <form action="" method="" name="content-frm" class="content-frm" enctype="multipart/form-data">
                        <!-- data-parsley-validate novalidate 뭔지 모름..-->
                        <input type="hidden" class="isProcess" name="isProcess" value="write">
                        <input type="hidden" class="frm-kind-service" name="frm-kind-service">
                        <dl class="client-list">
                            <dt style="height: 50px;">구분</dt>
                            <dd class="full">
                                <input type="radio" name="frm-kind-part" class="frm-kind-part" value="1">
                                칭찬사항
                                <!-- checked data-parsley-multiple="frm-kind-part" -->
                                <input type="radio" name="frm-kind-part" class="frm-kind-part" value="2">
                                불편사항
                                <input type="radio" name="frm-kind-part" class="frm-kind-part" value="3">
                                문의사항
                            </dd>
                            <dt style="height: 50px;">서비스 유형</dt>
                            <dd class="full">
								<select name="frm-kind-service-cate">
                                    <option value="01">놀이시설</option>
                                    <option value="02">티켓 및 요금관련</option>
                                    <option value="03">식음료매장</option>
                                    <option value="04">스마트예매</option>
                                    <option value="05">단체</option>
                                    <option value="06">연간이용권</option>
                                    <option value="07">주차장/정문</option>
                                    <option value="08">공연</option>
                                    <option value="09">기타</option>
                                </select>
							</dd>
                            <dt style="height: 50px;">이름</dt>
                            <dd>
								<input type="text" name="frm-name" id="frm-name">
                                <!-- data-parsley-error-message=" 이름을 입력하여 주십시오." -->
                                <span class="error-list">
                                    <span class="error-message">이름을 입력하여 주십시오.</span>
                                </span>
							</dd>
                            <dt style="height: 50px;">방문일</dt>
                            <dd>
                                <input type="text" name="frm-visit-date" id="frm-visit-date" class="hasDatepicker parsley-error">
                                <!-- data-parsley-error-message=" 방문일을 입력하여 주십시오." -->
                                <span class="error-list">
                                    <span class="error-message">방문일을 입력하여 주십시오.</span>
                                </span>
                            </dd>
                            <dt style="height: 50px;">이메일</dt>
                            <dd>
								<input type="text" name="frm-email" id="frm-email">
                                <!-- data-parsley-error-message=" 이메일을 입력하여 주십시오." -->

							</dd>
                            <dt style="height: 50px;">연락처</dt>
                            <dd>
								<input type="text" name="frm-phone" id="frm-phone">
                                <!-- data-parsley-error-message=" 연락처를 입력하여 주십시오." -->

							</dd>
                            <dt style="height: 50px;">성별</dt>
                            <dd class="full">
								<input type="radio" name="frm-gender" id="frm-gender" value="M"> 남
                                <input type="radio" name="frm-gender" id="frm-gender" value="F"> 여
                                <!-- data-parsley-multiple="frm_gender" -->

							</dd>
                            <dt style="height: 50px;">연령</dt>
                            <dd class="full">
                                <input type="radio" name="frm-age" value="10"> 10대
                                <input type="radio" name="frm_age" value="20"> 20대
                                <input type="radio" name="frm_age" value="30"> 30대
                                <input type="radio" name="frm_age" value="40"> 40대
                                <input type="radio" name="frm_age" value="50"> 50대
                                <input type="radio" name="frm_age" value="60"> 60대
                                <input type="radio" name="frm_age" value="70"> 70대 이상
                                <!-- data-parsley-multiple="frm_age" -->
                            </dd>
                            <dt style="height: 50px;">회신방법</dt>
                            <dd class="full">
								<input type="radio" name="frm-how-reply" id="frm-how-reply" value="1" checked="" > 이메일
                                <input type="radio" name="frm-how-reply" id="frm-how-reply" value="2" > 전화
                                <input type="radio" name="frm-how-reply" id="frm-how-reply" value="3" > 거부
                                <!-- data-parsley-multiple="frm_how_reply" -->
							</dd>
                            <dt style="height: 50px;">제목</dt>
                            <dd class="full-subject">
								<input type="text" name="frm-title" id="frm-title" value="" required="" data-parsley-id="49" class="parsley-error">
                                <span class="error-list">
                                    <span class="error-message"> 제목을 입력하여 주십시오.</span>
                                </span>
							</dd>
                            <dt style="height: 255px;">내용</dt>
                            <dd class="full-content">
								<textarea name="frm-content" id="frm-content" cols="30" rows="10" class="content-error" style="resize: none;"></textarea>
                                <span class="error-list">
                                    <span class="error-message"></span>
                                </span>
							</dd>
                            <dt style="height: 50px;" class="file-details">파일첨부</dt>
                            <dd class="full-content-file">
								<input type="file" name="up-file" id="up-file">
							</dd>
                            <dt style="height: 50px;" class="file-details-second">(이미지만 가능)</dt>
                            <dd class="full-content-file-details"></dd>
                        </dl>
                    </form>
                </div>
                <div class="board-button">
                    <ul>
                        <li></li>
                        <li>
                            <input type="button" value="등록" name="formwritebtn" class="up">
                            <input type="button" value="취소">
                        </li>
                        <li></li>
                    </ul>
                </div>    
            </div>
        </div>
    </main>
    <!--중단 메인 끝-->
    <!--하단 메인 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/main_image/logo_0.jpg" alt="">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ea1271e419.js" crossorigin="anonymous"></script>
    <script src="/static/js/notice-js/notice-client.js"></script>
</body>
</html>