<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="/static/css/notice.dyj/notice_style.css">
    <link rel="stylesheet" href="/static/css/notice.dyj/notice.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
<body style="position: relative; min-height: 100%; top: 0px;">
    <!--상단 배너 시작-->
    
    <th:block th:replace="/mainfragments/mainheader"></th:block>
    
    <!--상단 메인 끝-->
    <!--중단 메인 시작-->
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>고객센터</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="">홈</a>
                            </li>
                            <li>
                                <span>고객센터</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>공지사항</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">공지사항</a>
                                        </li>
                                        <li>
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li>
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li>
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notice-contents">
            <div class="notice-contents-title">
                <div class="notice-wrap-width">
                    <h3>공지사항</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick=""></span>
                                            페이스북
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            트위터
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            블로그
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오톡
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="notice-print">
                <div class="board-wrap-width">
                    <div class="board-information">
                        <form action="" method="" class="search_frm">
                            <input type="hidden" class="cmsNo">
                            <input type="hidden" class="bgrp">
                            <div class="board-count">
                                <ul>
                                    <li>
                                        전체게시물 :
                                        <span>13</span>
                                        건
                                    </li>
                                    <li>현재페이지 : 1 / 1</li>
                                </ul>
                            </div>
                            <div class="board-search">
                                <select name="srl">
                                    <option value="title">제목</option>
                                    <option value="name">작성자</option>
                                </select>
                                <label for="">검색어 필수</label>
                                <input type="text" name="stl" class="stl" placeholder="value">
                                <input type="submit" value="조회">
                            </div>
                        </form>
                    </div>
                    <div class="board-list">
                        <table>
                            <colgroup>
                                <col class="num">
                                <col class="subject">
                                <col class="file">
                                <col class="hit">
                                <col class="write">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>첨부</th>
                                    <th>조회수</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 공지 </td>
                                    <td class="subject">
                                        <a href="">고객1, 2주차장 유료화 안내</a>
                                    </td>
                                    <td></td>
                                    <td>55712</td>
                                    <td>2022-10-14</td>
                                </tr>
                                <tr>
                                    <td> 공지 </td>
                                    <td class="subject">
                                        <a href="">캐쉬밴드 조회안내</a>
                                    </td>
                                    <td></td>
                                    <td>8332</td>
                                    <td>2021-08-31</td>
                                </tr>
                                <tr>
                                    <td> 11 </td>
                                    <td class="subject">
                                        <a href="">섬머린스플래쉬 여름기간 운행안내</a>
                                    </td>
                                    <td></td>
                                    <td>659</td>
                                    <td>2023-07-04</td>
                                </tr>
                                <tr>
                                    <td> 10 </td>
                                    <td class="subject">
                                        <a href="">담배판매 중단안내</a>
                                    </td>
                                    <td></td>
                                    <td>208</td>
                                    <td>2023-06-27</td>
                                </tr>
                                <tr>
                                    <td> 9 </td>
                                    <td class="subject">
                                        <a href="">kb국민카드 제휴 종료 안내</a>
                                    </td>
                                    <td></td>
                                    <td>405</td>
                                    <td>2023-06-23</td>
                                </tr>
                                <tr>
                                    <td> 8 </td>
                                    <td class="subject">
                                        <a href="">치즈앤샷 오픈</a>
                                    </td>
                                    <td></td>
                                    <td>6190</td>
                                    <td>2023-01-27</td>
                                </tr>
                                <tr>
                                    <td> 7 </td>
                                    <td class="subject">
                                        <a href="">카카오 T셔틀 오픈</a>
                                    </td>
                                    <td></td>
                                    <td>10373</td>
                                    <td>2023-08-22</td>
                                </tr>
                                <tr>
                                    <td> 6 </td>
                                    <td class="subject">
                                        <a href="">새로운 이용권 통합 안내</a>
                                    </td>
                                    <td></td>
                                    <td>22540</td>
                                    <td>2023-08-10</td>
                                </tr>
                                <tr>
                                    <td> 5 </td>
                                    <td class="subject">
                                        <a href="">운영시작시간 변경안내</a>
                                    </td>
                                    <td></td>
                                    <td>4878</td>
                                    <td>2022-06-09</td>
                                </tr>
                                <tr>
                                    <td> 4 </td>
                                    <td class="subject">
                                        <a href="">캐스트 모집 공고</a>
                                    </td>
                                    <td></td>
                                    <td>24242</td>
                                    <td>2022-03-07</td>
                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td class="subject">
                                        <a href="">오후권 사용시간 변경 안내</a>
                                    </td>
                                    <td></td>
                                    <td>10475</td>
                                    <td>2021-03-29</td>    
                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td class="subject">
                                        <a href="">연간 이용권 이용약관 일부 개정 안내</a>
                                    </td>
                                    <td></td>
                                    <td>5784</td>
                                    <td>2021-03-08</td>
                                </tr>
                                <tr>
                                    <td> 1 </td>
                                    <td class="subject">
                                        <a href="">어뮤즈먼트 생활 속 거리두기 안내</a>
                                    </td>
                                    <td></td>
                                    <td>107022</td>
                                    <td>2020-06-29</td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                    <div class="board-list-pager">
                        <div class="list-page">
                            <ul>
                                <li>
                                    <a href=""><<</a>
                                </li>
                                <li>
                                    <a href=""><</a>
                                </li>
                                <li class="on">
                                    <a href="" data-pagenumber="1" >1</a>
                                </li>
                                <li>
                                    <a href="">></a>
                                </li>
                                <li>
                                    <a href="">>></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--중단 메인 끝-->
    <!--하단 메인 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ea1271e419.js" crossorigin="anonymous"></script>
    <script src="/static/js/notice-js/notice-notice.js"></script>
</body>
</html>