<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="/static/css/notice.dyj/notice_style.css">
    <link rel="stylesheet" href="/static/css/notice.dyj/noticelist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>
<body style="position: relative; min-height: 100%; top: 0px;">
    <!--상단 배너 시작-->
    <header >
        <div id="TopBanner">
            <div class="box-wrapper" style="max-width: 100%;">
                <div class="box-viewport" style="width: 100%; overflow: hidden; position: relative; height: 110px;">
                    <ul class="box-slider-list" style="width: 715%; position: relative;">
                        <!-- transition-duration: 1s; transform: translate3d(-761, , );-->
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-cloth.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-hwang.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-worldcast.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                               
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/static/main-image/top-banner/topbanner-magic.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- transition-duration: 50s;
    transform: translate3d(-7595px, 0px);-->
                <div class="box-controller">
                    <div class="box-pager">
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">1</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">2</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">3</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">4</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--상단 배너 끝-->
        <!--퀵 배너-->
        <div id="quickController">
            <span class="toggle-botten"></span>
            <ul>
                <li>
                    <a href="할인정보 페이지">
                        <img src="/static/main-image/PC-quick/saleimformation.png" alt="">
                        <span>할인정보</span>
                    </a>
                </li>
                <li>
                    <a href="공연정보 페이지">
                        <img src="/static/main-image/PC-quick/gongyeon.png" alt="">
                        <span>공연정보</span>
                    </a>
                </li>
                <li class="draken">
                    <a href="드라켄벨리">
                        <img src="/static/main-image/PC-quick/draken.png" alt="">
                        <span>드라켄벨리</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--퀵 배너 끝-->
        <!--상단 메인 시작-->
        <div id="main-top">
            <div class="topWrap">
                <div class="main-top-top">
                    <div class="main-top-top-details">
                        <div class="main-top-left">
                            <ul class="main-top-left-ul">
                                <li class="first">
                                    <a href="경주월드 어뮤즈먼트 사이트" class="on"> 
                                        경주월드 어뮤즈먼트
                                    </a>
                                </li>
                                <li class="second">
                                    <a href="캘리포니아비치 사이트">
                                        캘리포니아비치
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-top-middle">
                            <a href="경주월드 메인 사이트 주소">
                                <img src="/static/main-image/main-logo/main-logo.jpg" style="width: 196px; height: 78px;">
                                
                            </a>
                        </div>
                        <div class="main-top-right">
                            <div class="main-top-list">
                                <ul>
                                    <li>
                                        <a href="메인사이트 주소">홈</a>
                                    </li>
                                    <li>
                                        <a href="로그인 사이트 주소">로그인</a>
                                    </li>
                                    <li>
                                        <a href="회원가입 사이트 주소">회원가입</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="단체예약 사이트 주소" style="color: #f26c4f;">단체예약</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="연간이용권 사이트 주소" style="color: #f26c4f;">연간이용권</a>
                                    </li>
                                    <li class="choice">
                                        <a href="">
                                            <img src="/static/main-image/main-logo/google.png" style="height: 19px; width: 19;">
                                            언어 선택
                                            <img src="/static/main-image/main-logo/languge.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-top-search" style="display: block;">
                                <form action="" name="frmSearch">
                                    <label for="search-label">
                                        검색어
                                        <strong class="sound_only">필수</strong>
                                    </label>
                                    <input type="text" name="search-input" class="hash-tag-input1" style="display: none;">
                                    
                                    <input type="text" class="sch_submit" value="검색">
                                    <div class="hash-tag-input2"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-top-bottom">
                    <div class="main-top-bottom-all">
                        <div class="main-top-menu" style=" width: 100%; left: 0px; top: 0px; height: 56px;">
                            <ul style="margin-top: 0px;">
                                <li class="list-hover">
                                    <a href="이용정보 주소들어가는 곳" style="font-size: 20px;">
                                        이용정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">운영시간</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">운휴정보</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용꿀팁</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">주차안내</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="요금정보 주소들어가는 곳" style="font-size: 20px;">
                                        요금정보
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용요금</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">우대프로그램</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">제휴카드</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">기업체 특판안내</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="어트랙션 주소들어가는 곳" style="font-size: 20px;">
                                        어뮤즈먼트 소개
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">어트랙션</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">레스토랑&스낵</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">부대시설</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">가이드맵</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공연 및 이벤트 주소들어가는 곳" style="font-size: 20px;">
                                        공연 및 이벤트
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공지사항 주소들어가는 곳" style="font-size: 20px;">
                                        고객센터
                                    </a>
                                    <ul class="hover" style="display: none;opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">공지사항</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="시작페이지 주소들어가는 곳" style="font-size: 20px;">
                                        스마트할인예약
                                    </a>
                                    <ul class="hover" style="display: none; opacity: 0;">
                                        <li style="padding: 0px 20px;">
                                            <a href="">티켓예매</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">단체예약</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">연간이용</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--상단 메인 끝-->
    <!--중단 메인 시작-->
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>고객센터</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="">홈</a>
                            </li>
                            <li>
                                <span>고객센터</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>공지사항</span>
                                <div class="notice-details">
                                    <ul>
                                        <li>
                                            <a href="">공지사항</a>
                                        </li>
                                        <li>
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li>
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li>
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="notice-contents">
            <div class="notice-contents-title">
                <div class="notice-wrap-width">
                    <h3>공지사항</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick=""></span>
                                            페이스북
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            트위터
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            블로그
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오톡
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="notice-print">
                <div class="board-wrap-width">
                    <div class="board-information">
                        <form action="" method="" class="search_frm">
                            <input type="hidden" class="cmsNo">
                            <input type="hidden" class="bgrp">
                            <div class="board-count">
                                <ul>
                                    <li>
                                        전체게시물 :
                                        <span></span>
                                        건
                                    </li>
                                    <li>현재페이지 : 1 / 1</li>
                                </ul>
                            </div>
                            <div class="board-search">
                                <select name="srl">
                                    <option value="title">제목</option>
                                    <option value="name">작성자</option>
                                </select>
                                <label for="">검색어 필수</label>
                                <input type="text" name="stl" class="stl" placeholder="value">
                                <input type="submit" value="조회">
                            </div>
                        </form>
                    </div>
                    <div class="board-list">
                        <table>
                            <colgroup>
                                <col class="num">
                                <col class="subject">
                                <col class="file">
                                <col class="hit">
                                <col class="write">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>첨부</th>
                                    <th>조회수</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                    
                            </tbody>
                        </table>
                    </div>
                    <div class="board-list-pager">
                        <div class="list-page">
                            <ul>
                                <li class="button-button-left">
                                    <button type="button"><<</button>
                                </li>
                                <li class="button-left">
                                    <button type="button"><</button>
                                </li>
                                <li id="num" class="on">
                                    <button type="button">1</button>
                                </li>
                                <li id="num" class="">
                                    <button type="button">2</button>
                                </li>
                                <li id="num" class="">
                                    <button type="button">3</button>
                                </li>
                                <li class="button-right">
                                    <button type="button">></button>
                                </li>
                                <li class="button-button-right">
                                    <button type="button">>></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--중단 메인 끝-->
    <!--하단 메인 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ea1271e419.js" crossorigin="anonymous"></script>
    <script src="/static/js/notice-js/noticelist.js"></script>
</body>
</html>