<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/user/css/user_style.css">
    <link rel="stylesheet" href="/static/user/css/mypage_list.css">
    <title>마이페이지 리스트</title>
</head>
<body>
    <div id="wrap_containers">
        <div class="wrap">
            
            <th:block th:replace="/fragments/header"></th:block>
            
            <div id="container">
                <div class="page-title">
                    <h2>예매조회</h2>
                    <p>그동안 예매하신 내역을 확인할 수 있어요</p>
                </div>
                <div class="contents">
                    <div class="search-wrap">
                        <div class="day-pick">
                            <div class="calendar-show">
                                <input type="text">
                            </div>
                            <span>~</span>
                            <div class="calendar-show">
                                <input type="text">
                            </div>
                        </div>
                        <div class="btn-month-wrap">
                            <button type="button">1개월</button>
                            <button type="button">3개월</button>
                            <button type="button">6개월</button>
                        </div>
                        <button type="button" class="monthbtn">검색</button>
                    </div>
                    <div class="list-wrap">

                    </div>
                </div>
            </div>
            <footer id="footer">
                <img src="/static/donguk-img/logo.png" alt="경주월드">
                <ul>
                    <li> 경주월드 주식회사(경주지점) </li>
                    <li> 주소 경주시 보문로 544(천군동) </li>
                    <li> 대표전화 1544-8765 </li>
                    <li> 사업자등록번호, 505-85-15586 </li>
                    <li> 대표이사 정원기, 함영관 </li>
                    <li> 개인정보관리자 권준오 </li>
                    <li> ⓒ GyeongjuWorld. All rights reserved. </li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>