<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/user/css/user_style.css">
    <link rel="stylesheet" href="/static/user/css/mypage.css">
    <title>마이페이지</title>
</head>
<body>
    <div id="wrap_containers">
        <div class="wrap">
            
            <th:block th:replace="/fragments/header"></th:block>
            
            <div id="container">
                <div class="page-title">
                    <div class="my-info-wrap">
                        <h2>마이페이지</h2>
                        <a href="/auth/mypage_modify" class="my-info">개인정보수정</a>
                    </div>
                    <p>신동욱님, 경주월드를 방문해주셔서 감사해요!</p>
                </div>
                <div class="contents">
                    <div class="mypage-contents">
                        <h3>예약조회</h3>
                        <ul class="check-links">
                            <li>
                                <img src="/static/donguk-img/mypage_links_ticket.png" alt="티켓 예매 조회">
                                <b>티켓 예매 조회</b>
                                <p>사용가능한 티켓이 없습니다</p>
                                <a href="/auth/mypage_list" class="btn-tklist">확인하기</a>
                            </li>
                            <li>
                                <img src="/static/donguk-img/mypage_links_year.png" alt="연간 이용 조회">
                                <b>연간 이용 조회</b>
                                <p>연간이용권 미사용중이예요</p>
                                <a href="/auth/mypage_list" class="btn-ylist">확인하기</a>
                            </li>
                            <li>
                                <img src="/static/donguk-img/mypage_links_group.png" alt="단체 예약 조회">
                                <b>단체 예약 조회</b>
                                <p>신청하신 단체예약이 없어요</p>
                                <a href="/auth/mypage_list" class="btn-grouplist">확인하기</a>
                            </li>
                            <li>
                                <img src="/static/donguk-img/mypage_links_cash.png" alt="스마트캐쉬 조회">
                                <b>스마트캐쉬 조회</b>
                                <p>충전하신 캐쉬가 없어요</p>
                                <a href="/auth/mypage_list" class="btn-cashlist">확인하기</a>
                            </li>
                        </ul>
                        <div class="my-coupon">
                            <h3>내 쿠폰</h3>
                            <ul>
                                <li class="amuse">
                                    <div class="inner">
                                        <a href="" class="coupon-num">59142023000806</a>
                                        <b>경주월드 에타 특가</b>
                                        <p>2023년 에브리타임과 함께하는 특별 우대권</p>
                                        <span>유효기간 : 2023-07-11~2023-08-27</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <img src="/static/donguk-img/logo.png" alt="경주월드">
                <ul>
                    <li> 경주월드 주식회사(경주지점) </li>
                    <li> 주소 경주시 보문로 544(천군동) </li>
                    <li> 대표전화 1544-8765 </li>
                    <li> 사업자등록번호, 505-85-15586 </li>
                    <li> 대표이사 정원기, 함영관 </li>
                    <li> 개인정보관리자 권준오 </li>
                    <li> ⓒ GyeongjuWorld. All rights reserved. </li>
                </ul>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="/static/user/js/mypage.js"></script>
</body>
</html>