<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어트랙션 | 꿈, 사랑, 행복의 경주월드!</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/static/css/kdh.css/attraction.css">
    <link rel="stylesheet" href="/static/css/kdh.css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    
</head>
<body id="Amusement">
    <div>
    <header >
        <div id="TopBanner">
            <div class="box-wrapper" style="max-width: 100%;">
                <div class="box-viewport" style="width: 100%; overflow: hidden; position: relative; height: 110px;">
                    <ul class="box-slider-list" style="width: 715%; position: relative;">
                        <!-- transition-duration: 1s; transform: translate3d(-761, , );-->
                        <li style="background-image: url('/main_image/top_banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/main_image/top_banner/topbanner피터의매직.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                        <li style="background-image: url('/main_image/top_banner/topbanner감성교복.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            </a>
                        </li>
                        <li style="background-image: url('/main_image/top_banner/topbanner황리단길.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/main_image/top_banner/topbanner경주월드캐스트.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                               
                            </a>
                        </li>
                        <li style="background-image: url('/main_image/top_banner/boardFile.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                            </a>
                        </li>
                        <li style="background-image: url('/main_image/top_banner/topbanner피터의매직.jpg');">
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                            
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- transition-duration: 50s;
    transform: translate3d(-7595px, 0px);-->
                <div class="box-controller">
                    <div class="box-pager">
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">1</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">2</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">3</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">4</a>
                        </div>
                        <div class="box-pager-item">
                            <a href="" class="box-pager-link">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--상단 배너 끝-->
        <!--퀵 배너-->
        <div id="quickController">
            <span class="toggle-botten"></span>
            <ul>
                <li>
                    <a href="할인정보 페이지">
                        <img src="/main_image/PC quick/할인정보.png" alt="">
                        <span>할인정보</span>
                    </a>
                </li>
                <li>
                    <a href="공연정보 페이지">
                        <img src="/main_image/PC quick/공연 정보.png" alt="">
                        <span>공연정보</span>
                    </a>
                </li>
                <li class="draken">
                    <a href="드라켄벨리">
                        <img src="/main_image/PC quick/드라켄벨리.png" alt="">
                        <span>드라켄벨리</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--퀵 배너 끝-->
        <!--상단 메인 시작-->
        <div id="main-top">
            <div class="topWrap">
                <div class="main-top-top">
                    <div class="main-top-top-details">
                        <div class="main-top-left">
                            <ul class="main-top-left-ul">
                                <li class="first">
                                    <a href="경주월드 어뮤즈먼트 사이트" class="on"> 
                                        경주월드 어뮤즈먼트
                                    </a>
                                </li>
                                <li class="second">
                                    <a href="캘리포니아비치 사이트">
                                        캘리포니아비치
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-top-middle">
                            <a href="경주월드 메인 사이트 주소">
                                <img src="/static/img-kdh/restimg/gjwlogo.jpg" style="width: 196px; height: 78px;">
                                
                            </a>
                        </div>
                        <div class="main-top-right">
                            <div class="main-top-list">
                                <ul>
                                    <li>
                                        <a href="메인사이트 주소">홈</a>
                                    </li>
                                    <li>
                                        <a href="로그인 사이트 주소">로그인</a>
                                    </li>
                                    <li>
                                        <a href="회원가입 사이트 주소">회원가입</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="단체예약 사이트 주소" style="color: #f26c4f;">단체예약</a>
                                    </li>
                                    <li class="reservation">
                                        <a href="연간이용권 사이트 주소" style="color: #f26c4f;">연간이용권</a>
                                    </li>
                                    <li class="choice">
                                        <a href="">
                                            <img src="/main_image/main_logo/Google__G__Logo.svg.png" style="height: 19px; width: 19;">
                                            언어 선택
                                            <img src="/main_image/main_logo/언어선택 화살표.png" >
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-top-search" style="display: block;">
                                <form action="" name="frmSearch">
                                    <label for="search-label">
                                        검색어
                                        <strong class="sound_only">필수</strong>
                                    </label>
                                    <input type="text" name="search-input" class="hash-tag-input1" style="display: none;">
                                    <div class="hash-tag-input2"></div>
                                    <input type="text" class="sch_submit" value="검색">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-top-bottom">
                    <div class="main-top-bottom-all">
                        <div class="main-top-menu" style=" width: 100%; left: 0px; top: 0px;">
                            <ul style="margin-top: 0px;">
                                <li class="list-hover">
                                    <a href="이용정보 주소들어가는 곳" style="font-size: 20px;">
                                        이용정보
                                    </a>
                                    <ul class="hover">
                                        <li style="padding: 0px 20px;">
                                            <a href="">운영시간</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">운휴정보</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용꿀팁</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">주차안내</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">찾아오시는길</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="요금정보 주소들어가는 곳" style="font-size: 20px;">
                                        요금정보
                                    </a>
                                    <ul class="hover">
                                        <li style="padding: 0px 20px;">
                                            <a href="">이용요금</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">우대프로그램</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">제휴카드</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">기업체 특판안내</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="어트랙션 주소들어가는 곳" style="font-size: 20px;">
                                        어뮤즈먼트 소개
                                    </a>
                                    <ul class="hover">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">어트랙션</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">레스토랑&스낵</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">부대시설</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">가이드맵</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공연 및 이벤트 주소들어가는 곳" style="font-size: 20px;">
                                        공연 및 이벤트
                                    </a>
                                    <ul class="hover">
                                        <li style="padding: 0px 20px;">
                                            <a href="">추천코스</a>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="공지사항 주소들어가는 곳" style="font-size: 20px;">
                                        고객센터
                                    </a>
                                    <ul class="hover">
                                        <li style="padding: 0px 20px;">
                                            <a href="">공지사항</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">고객소리함</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">자주묻는질문</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">분실물센터</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-hover">
                                    <a href="시작페이지 주소들어가는 곳" style="font-size: 20px;">
                                        스마트할인예약
                                    </a>
                                    <ul class="hover">
                                        <li style="padding: 0px 20px;">
                                            <a href="">티켓예매</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">단체예약</a>
                                        </li>
                                        <li style="padding: 0px 20px;">
                                            <a href="">연간이용</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
    <div class="WrapTop">
        <div>
        </div>
        <div id="TopLNB" class="c2" style=" background-size: cover;">
        <!-- 어뮤즈먼트 소개-->
            <div class="backimg">
            <h2>어뮤즈먼트 소개</h2>
                <div id="TopLocation">
                    <div class="WrapWidth">
                        <ul class="first-ul">
                            <li class="homeimg">
                                <a href="https://www.gjw.co.kr/Contents/contents.php"></a>
                            </li>
                            <li class="add-menu">
                                <span>어뮤즈먼트 소개</span>
                                <div class="select-menu">
                                    <ul>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0100">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0300">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100">어뮤즈먼트 소개</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DC0100">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="https://smart.gjw.co.kr/common/resMain.do">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="add-menu">
                                <span>어트랙션</span>
                                <div class="select-menu">
                                    <ul>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100">추천코스</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200">어트랙션</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0300">레스토랑&스낵</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0400">부대시설</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0500">가이드맵</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    </div>

</div>
    <!-- 상단 어뮤즈먼트 소개 wrap 끝-->
    <!-- 어트랙션 내용 wrap 시작-->
    <div id="WrapContents">
        <div id="ContentTitle">
            <div class="WrapWidth">
                <h3>어트랙션</h3>
                <div class="ContentControl">
                    <ul>
                    <li class="snslistBtn">
                        " 공유하기 "
                        <div class="snslist">
                            <b>공유하기</b>
                            <span class="close"></span>
                            <ul>
                                <li>
                                    <span onclick="sendSns('facebook', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "페이스북"
                                </li>
                                <li>
                                    <span onclick="sendSns('twitter', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "트위터"
                                </li>
                                <li>
                                    <span onclick="sendSns('블로그', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "블로그"
                                </li>
                                <li>
                                    <span onclick="sendSns('카카오톡', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "카카오톡"
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="clipboardUrlBtn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200">링크복사</li>
                    <li class="printBtn">인쇄</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="WrapPrint">
            <!-- 테마 & 키 부분 시작-->
            <div id="AttractionSearch">
                <div class="WrapWidthh">
                    <ul class="temabar">
                        <li class="qwe">
                            <span class="rightbar">테마</span>
                            <ul>
                                <li class="select-list">
                                    <input type="checkbox" name="theme" id="family" value="자녀">
                                    <label for="family">
                                        자녀
                                    </label>
                                </li>
                                <li class="select-list">
                                    <input type="checkbox" name="theme" id="couple" value="연인">
                                    <label for="couple">
                                        연인
                                    </label>
                                </li>
                                <li class="select-list">
                                    <input type="checkbox" name="theme" id="child" value="친구">
                                    <label for="child">
                                        친구
                                    </label>
                                </li>
                                <li class="select-list">
                                    <input type="checkbox" name="theme" id="rain" value="우천시">
                                    <label for="rain">
                                        우천시
                                    </label>
                                </li>
                                <li class="select-list">
                                    <input type="checkbox" name="theme" id="thrill" value="스릴">
                                    <label for="thrill">
                                        스릴
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="qwe">
                            <span class="rightbar">키</span>
                            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                            <script type="text/javascript" src="/static/js/jskdh/jquery.ui.touch-punch.min.js"></script>
                            <input type="hidden" name="height" id="height" value="120">
                            <div id="SearchHeightArea">
                                <div id="SearchHeight" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                        <div id="SearchHeightHandle" class="ui-slider-handle ui-corner-all ui-state-default "  tabindex="0" style="left: 33.3333%;">
                                        </div>
                                    <span class="min">80cm</span>
                                    <span class="max">200cm</span>
                                </div>
                            </div>
                            <script>
									$( function() {
										var handle = $( '#SearchHeightHandle' );
										var tmp = $( '#height' );
										$( '#SearchHeight' ).slider({
											min: 80,
											max: 200,
											step: 5,
											value: 120,
											create: function() {
												handle.text( $( this ).slider( "value" ) + "cm" );
												tmp.val( $( this ).slider( "value" ) );
											},
											slide: function( event, ui ) {
												handle.text( ui.value + "cm" );
												tmp.val( ui.value );
											}
										});
									} );
                            </script>
                        </li>
                    </ul>
                    <div class="ButtonArea">
                        <button class="searchBtn">검색</button>
                    </div>
                </div>
            </div>
            <div id="AttractionNotice">
                <img src="/static/img-kdh/restimg/clickbtn.png" alt="">
                "테마를 선택하고, 드래그로 키를 선택하세요 "
                <p style="font-size: 0.89rem;color: red;">놀이시설은 우천 및 기상상황에 따라 지연되거나 조기마감될 수 있습니다 </p>
            </div>
            <div id="AttractionList">
                <div class="WrapWidthhh">
                    <div style="display: none;"></div>
                    <ul id="ajaxContainer">
                        <li class="ContainerRows" id="1">
                           
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/attration/attvalkyrie/view1_2.gif)"> </div>
                                    <span class="loction">드라켄밸리</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">발키리</span>
                                    <p>앞으로 뒤로 전장을 날아다니는 발키리 격렬한 전투의 흔적...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="2">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/attration/attdraken/view2_2.gif)"> </div>
                                    <span class="loction">드라켄밸리</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">드라켄</span>
                                    <p>세계 6번째, 국내 최초! 90도 다이브코스터! 63m 높이에서 수...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="3">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/attration/attcrac/view3_2.gif)"> </div>
                                    <span class="loction">드라켄밸리</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">크라크</span>
                                    <p>360도 회전하는 메가톤급 스릴 라이드! 거칠게 좌우로 몰아...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="4">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/attration/attdragonrace/view4_2.jpg)"> </div>
                                    <span class="loction">드라켄벨리</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">드래곤레이스</span>
                                    <p>아기 드래곤이 나는 연습으 하는 곳! 귀여운 아기드래곤이 ...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="5">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/attration/attphaeton/view5_2.gif)"> </div>
                                    <span class="loction">엑스존</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">파에톤</span>
                                    <p>그리스 파에톤 신화를 테마로 한 세계 최강의 인버티드 롤...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="6">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-메가드롭/메가드롭2.jpg)"> </div>
                                    <span class="badge">운휴기종</span>
                                    <span class="loction">엑스존</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">메가드롭</span>
                                    <p>지상 70m 하늘에서 떨어지는 기분! 하늘에서 내려다보는 경...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="7">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-트리키리키의볼하우스/볼하우스2.jpg)"> </div>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">트리키리키의 볼하우스</span>
                                    <p>알록달록 다양한 색깔 스펀지 공으로 재미있는 공놀이! 과...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="8">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-드롤의위자드트레인/위자드트레인2.jpg)"> </div>
                                    <span class="badge">운휴기종</span>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">드롤의 위자드트레인</span>
                                    <p>드롤이 초대하는 환상의 마법마을 기차! 장난꾸러기 드롤과...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="9">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-글린다의매직펌킨/매직펌킨2.jpg)"> </div>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">글린다의 매직펌킨</span>
                                    <p>예쁜 돼지 공주 글린다가 마법의 주문을 걸어놓은 매직 펌...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="10">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-보기의문라이트세일/문라이트세일2.jpg)"> </div>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">보기의 문라이트세일</span>
                                    <p>거북이 마법사 보기선장과 달빛여행! 하늘을 나는 마법의 ...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="11">
                           
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-스와니의클라우드라이드/클라우드라이드2.jpg)"> 
                                    </div>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">스와니의 클라우드 라이드</span>
                                    <p>위자드가든에서 하늘을 꼭 한번 보세요. 위자드 가든의 높...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="12">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-페기의케로셀/케로셀2.jpg)"> </div>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">페기의 케로셀</span>
                                    <p>페기의 케로셀이 마법으로 여러분을 공주와 왕자로 변신시...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="13">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-발키리/발키리2.gif)"> </div>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">스파키의 매직카</span>
                                    <p>장난 꾸러기 스파키는 작지만 요리조리 재빠르고 멋진 운...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="14">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-토네이도/토네이도2.jpg)"> </div>
                                    <span class="loction">엑스존</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">토네이도</span>
                                    <p>국내 최고의 스릴 어트랙션 토네이도! 국내 최대 상승각도...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="15">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-그랜드캐년대탐험/그랜드캐년2.jpg)"> </div>
                                    <span class="loction">엑스존</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">그랜드캐년대탐험</span>
                                    <p>아메리카 대륙의 그랜드캐년 협곡 속에 아찔한 급류를 탐험...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="16">
                           
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-범퍼카/범퍼카2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">범퍼카</span>
                                    <p>이리 쿵! 저리 쿵! 추억의 범퍼카! 요리조리 좌충우돌 박치...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="17">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-급류타기/급류타기2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">급류타기</span>
                                    <p>가파른 수로를 따라 아찔한 급류타기! 통나무배를 타고 떠...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="18">
                           
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-패밀리바이킹/패바2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">패밀리 바이킹</span>
                                    <p>바이킹과 보물섬을 향해 출발! 해적선이 거대한 파도를 타...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="19">
                           
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-가족열차/가족열차2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">가족열차</span>
                                    <p>가족, 연인, 친구들이 함께 증기 기관차를 타면서 여행을 ...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="20">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-비룡열차/비룡열차2.jpg)"> </div>
                                    <span class="badge">운휴기종</span>
                                    <span class="loction">위자드가든</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">비룡열차</span>
                                    <p>드래곤을 타고 꼬불꼬불 오르락 내리락! 아이들이 더 좋아...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="21">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-미로탐험/미로탐험2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">미로탐험</span>
                                    <p>미로를 따라 구르고 넘어지는 재미! 이상한 에피소드와 미...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="22">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-섬머린스플래쉬/섬머린스2.jpg)"> </div>
                                    <span class="badge">운휴기종</span>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">섬머린스플래쉬</span>
                                    <p>국내 최초, 아시아 최고 높이 32m 수상 롤러코스터! 초대형 ...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="23">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-킹바이킹/킹바이킹2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">킹 바이킹</span>
                                    <p>중세 시대 바이킹을 재현해낸 웅장한 스케일! 바이킹 사상 ...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="24">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-에어벌룬/에어벌룬2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">에어벌룬</span>
                                    <p>빙글빙글 하늘을 날아가는 신나는 여행! 알록달록 에어벌룬...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="25">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-바운스스핀/바운스2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">바운스스핀</span>
                                    <p>요리조리 통통 튀는 바운스! 언제 어떻게 튈지 모르는 즐거...</p>
                                </div>
                            </a>
                        </li>
                        <li class="ContainerRows" id="26">
                            
                                <div class="thumwrap">
                                    <div class="photo" style="background-image: url(/static/img-kdh/어트랙션/어트랙션-댄싱컵/댄싱컵2.jpg)"> </div>
                                    <span class="loction">놀이기구</span>
                                </div>
                                <div class="infomation">
                                    <span class="name">댄싱컵</span>
                                    <p>알록달록 예쁜 댄싱 컵이 빙글빙글! 댄싱컵 속에서 손잡이...</p>
                                </div>
                            </a>
                        </li>
                        <script></script>
                        <script></script>
                        <script></script>
                        <script></script>
                    </ul>
                    <div class="add-ButtonArea"  >
                        <span id="GetMore">더보기</span>
                    </div>
                </div>
            </div>
            <script type="text/javascript"></script>
            <!-- 서브 컨텐츠 끝 -->
        </div>
    </div>
    <!-- 놀이기구 전체 끝 -->
    <!-- 하단  바 시작-->
    <div id="WrapBottom">
        <div id="BottomFNB">
            <div class="WrapWidth">
                <div id="BottomSNS">
                    <ul>
                        <li class="Sns-first-li">
                            <span></span>
                            <a href="http://www.facebook.com/hi.giw" target="_blank">공식페이스북</a> 
                            <!-- _blank 클릭하면 계속 새로운 탭이 열림-->
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://blog.naver.com/hi_gjw" target="_blank">공식블로그</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a> 
                        </li>
                    </ul>
                </div>
                <span id="BottomGoTop">TOP
                    <script>
                        let topBtn = document.querySelector("#BottomGoTop");
                        topBtn.onclick = () => {
                            window.scrollTo({
                                top: 0,
                                scbehavior: "smooth"
                            })
                        };
                    </script>
                </span>
            </div>
        </div>
        <div id="BottomContents">
            <div class="WrapWidth-last">
                <div id="BottomLeft">
                    <div id="BottomLogo">
                        <a href="/">
                            <img src="/static/img-kdh/경주월드 로고.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div id="BottomCenter">
                    <div id="BottomMenu">
                        <ul>
                            <li>
                                <a href="">경주월드 소개</a>
                            </li>
                            <li>
                                <a href="">이용약관</a>
                            </li>
                            <li>
                                <a href="">개인정보취급방침</a>
                            </li>
                            <li>
                                <a href="">제휴문의</a>
                            </li>
                            <li>
                                <a href="">채용안내 및 지원</a>
                            </li>
                            <li>
                                <a href="">이메일무단수집거부</a>
                            </li>
                        </ul>
                    </div>
                    <div id="BottomMobileLogo"></div>
                    <div id="BottomInfomation">
                        <ul>
                            <li>경주월드 주식회사 (경주지점)</li>
                            <li>주소 : 경주시 보문로 544(천군동) 38117</li>
                            <li>대표전화 : 1544-8765</li>
                            <li>사업자등록번호 : 505-85-15586</li>
                            <li>대표이사 : 정원기, 함영관</li>
                        </ul>
                    </div>
                    <div id="BottomCopyright">
                        <ul>
                            <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                        </ul>
                    </div>
                </div>
                <div id="BottomRight">
                    <div id="BottomFamily">
                        <ul>
                            <li>
                                 관련사이트 바로가기 
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단 바 끝 -->
   <script src="/static/attraction/js/attraction.js"></script>
</body>
</html>