<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어트랙션 | 꿈, 사랑, 행복의 경주월드!</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/static/css/kdh.css/attraction.css">
    <link rel="stylesheet" href="/static/css/kdh.css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    
</head>
<body id="Amusement">
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>어뮤즈먼트</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="/">홈</a>
                            </li>
                            <li>
                                <span>어뮤즈먼트 소개</span>
                                <div class="amusementTab">
                                    <ul>
                                        <li>
                                            <a href="/hours-of-operation/operation">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="/mainfee">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="/maincourse">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="/event">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="/notice/notice_list">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="/payment/payment_first">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>어트랙션</span>
                                <div class="amusementTab">
                                    <ul>
                                        <li>
                                            <a href="/maincourse">추천코스</a>
                                        </li>
                                        <li>
                                            <a href="/mainattraction">어트랙션</a>
                                        </li>
                                        <li>
                                            <a href="/mainfood">레스토랑&스낵</a>
                                        </li>
                                        <li>
                                            <a href="/mainservice">부대시설</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상단 어뮤즈먼트 소개 wrap 끝-->
        <!-- 어트랙션 내용 wrap 시작-->
        <div id="WrapContents">
            <div class="att-title">
                <div class="att-width">
                    <h3>어트랙션</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick="sendSns('facebook', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "페이스북"
                                        </li>
                                        <li>
                                            <span onclick="sendSns('twitter', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "트위터"
                                        </li>
                                        <li>
                                            <span onclick="sendSns('블로그', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "블로그"
                                        </li>
                                        <li>
                                            <span onclick="sendSns('카카오톡', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "카카오톡"
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="WrapPrint">
                <!-- 테마 & 키 부분 시작-->
                <div id="AttractionSearch">
                    <div class="WrapWidthh">
                        <ul class="temabar">
                            <li class="qwe">
                                <span class="rightbar">테마</span>
                                <ul>
                                    <li class="select-list">
                                        <input type="checkbox" name="theme" id="family" class="theme" value="0" onclick="checklist(0)">
                                        <label for="family">
                                            자녀
                                        </label>
                                    </li>
                                    <li class="select-list">
                                        <input type="checkbox" name="theme" id="couple" class="theme" value="0" onclick="checklist(1)">
                                        <label for="couple">
                                            연인
                                        </label>
                                    </li>
                                    <li class="select-list">
                                        <input type="checkbox" name="theme" id="child" class="theme" value="0" onclick="checklist(2)">
                                        <label for="child">
                                            친구
                                        </label>
                                    </li>
                                    <li class="select-list">
                                        <input type="checkbox" name="theme" id="rain" class="theme" value="0" onclick="checklist(3)">
                                        <label for="rain">
                                            우천시
                                        </label>
                                    </li>
                                    <li class="select-list">
                                        <input type="checkbox" name="theme" id="thrill" class="theme" value="0" onclick="checklist(4)">
                                        <label for="thrill">
                                            스릴
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li class="qwe">
                                <span class="rightbar">키</span>
                                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                                <script type="text/javascript" src="/static/js/jskdh/jquery.ui.touch-punch.min.js"></script>
                                <input type="hidden" name="height" id="height" value="120">
                                <div id="SearchHeightArea">
                                    <div id="SearchHeight" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                            <div id="SearchHeightHandle" class="ui-slider-handle ui-corner-all ui-state-default "  tabindex="0" style="left: 33.3333%;">
                                            </div>
                                        <span class="min">80cm</span>
                                        <span class="max">200cm</span>
                                    </div>
                                </div>
                                <script>
                                        $( function() {
                                            var handle = $( '#SearchHeightHandle' );
                                            var tmp = $( '#height' );
                                            $( '#SearchHeight' ).slider({
                                                min: 80,
                                                max: 200,
                                                step: 5,
                                                value: 120,
                                                create: function() {
                                                    handle.text( $( this ).slider( "value" ) + "cm" );
                                                    tmp.val( $( this ).slider( "value" ) );
                                                },
                                                slide: function( event, ui ) {
                                                    handle.text( ui.value + "cm" );
                                                    tmp.val( ui.value );
                                                }
                                            });
                                        } );
                                </script>
                            </li>
                        </ul>
                        <div class="ButtonArea">
                            <button class="searchBtn">검색</button>
                        </div>
                    </div>
                </div>
                <div id="AttractionNotice">
                    <img src="/static/img-kdh/restimg/clickbtn.png" alt="">
                    "테마를 선택하고, 드래그로 키를 선택하세요 "
                    <p style="font-size: 0.89rem;color: red;">놀이시설은 우천 및 기상상황에 따라 지연되거나 조기마감될 수 있습니다 </p>
                </div>
                    <div id="AttractionList">
                        <div class="WrapWidthhh">
                            <div style="display: none;"></div>
                            <ul id="ajaxContainer">
                            
                            
                            </ul>
                                <div class="add-ButtonArea"  >
                            <button type="button" id="GetMore">더보기</button>
                         </div>
                     </div>
                 </div>
             <script type="text/javascript"></script>
             <!-- 서브 컨텐츠 끝 -->
            </div>
        </div>
    </main>   
    <!-- 놀이기구 전체 끝 -->
    <!-- 하단  바 시작-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/main-logo/bottom-logo.jpg">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 하단 바 끝 -->
     <script src="/static/attraction/js/mainRide.js"></script>
   <script src="/static/attraction/js/attraction.js"></script>
  
</body>
</html>