<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천코스 | 꿈, 사랑, 행복의 경주월드!</title>
    <link rel="stylesheet" href="/gjw.project/src/main/resources/static/css/kdh.css/RcdCourse.css">
    <link rel="stylesheet" href="/gjw.project/src/main/resources/static/css/kdh.css/style.css">
</head>
<body id="Amusement">
    <div class="WrapTop">
        <div>
        </div>
        <div id="TopLNB" class="c2" style="top: 254px; background-size: cover;">
        <!-- 어뮤즈먼트 소개-->
            <div class="backimg">
            <h2>어뮤즈먼트 소개</h2>
                <div id="TopLocation">
                    <div class="WrapWidth">
                        <ul class="first-ul">
                            <li class="homeimg">
                                <a href="https://www.gjw.co.kr/Contents/contents.php"></a>
                            </li>
                            <li class="add-menu">
                                <span>어뮤즈먼트 소개</span>
                                <div class="select-menu">
                                    <ul>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0100">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0300">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100">어뮤즈먼트 소개</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DC0100">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="https://smart.gjw.co.kr/common/resMain.do">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="add-menu">
                                <span>어트랙션</span>
                                <div class="select-menu">
                                    <ul>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100">추천코스</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200">어트랙션</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0300">레스토랑&스낵</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0400">부대시설</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0500">가이드맵</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>
    <!-- 상단 어뮤즈먼트 소개 wrap 끝-->
    <!-- 어트랙션 내용 wrap 시작-->
    <div id="WrapContents">
        <div id="ContentTitle">
            <div class="WrapWidth">
                <h3>추천코스</h3>
                <div class="ContentControl">
                    <ul>
                    <li class="snslistBtn">
                        " 공유하기 "
                        <div class="snslist">
                            <b>공유하기</b>
                            <span class="close"></span>
                            <ul>
                                <li>
                                    <span onclick="sendSns('facebook', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "페이스북"
                                </li>
                                <li>
                                    <span onclick="sendSns('twitter', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "트위터"
                                </li>
                                <li>
                                    <span onclick="sendSns('블로그', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "블로그"
                                </li>
                                <li>
                                    <span onclick="sendSns('카카오톡', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "카카오톡"
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="clipboardUrlBtn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200">링크복사</li>
                    <li class="printBtn">인쇄</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="WrapPrint">
            <!-- 테마별 추천 코스 부분 시작 -->
            <div id="RecommendedCourse">
                <div class="WrapWidth-1">
                    <h4>
                        경주월드
                        <span>두배</span>
                        로 즐기기!
                        <p>더욱 즐겁게 즐기실 수 있는 테마별 코스를 추천해 드립니다.</p>
                    </h4>
                    <ul>
                        <li>
                            <a href="">
                            <img src="/gjw.project/src/main/resources/static/img-kdh/가족체크온.png" onmouseover="this.src='/gjw.project/src/main/resources/static/img-kdh/가족체크온.png'" onmouseout="this.src='/gjw.project/src/main/resources/static/img-kdh/가족체크x.png'">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100/course/2">
                                <img src="/gjw.project/src/main/resources/static/img-kdh/친구체크x.png" onmouseover="this.src='/gjw.project/src/main/resources/static/img-kdh/친구체크온.png'" onmouseout="this.src='/gjw.project/src/main/resources/static/img-kdh/친구체크x.png'">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/gjw.project/src/main/resources/static/img-kdh/연인체크x.png" onmouseover="this.src='/gjw.project/src/main/resources/static/img-kdh/연인체크온.png'" onmouseout="this.src='/gjw.project/src/main/resources/static/img-kdh/연인체크x.png'">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/gjw.project/src/main/resources/static/img-kdh/스릴체크x.png" onmouseover="this.src='/gjw.project/src/main/resources/static/img-kdh/스릴체크온.png'" onmouseout="this.src='/gjw.project/src/main/resources/static/img-kdh/스릴체크x.png'">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/gjw.project/src/main/resources/static/img-kdh/비오는날체크x.png" onmouseover="this.src='/gjw.project/src/main/resources/static/img-kdh/비오는날체크온.png'" onmouseout="this.src='/gjw.project/src/main/resources/static/img-kdh/비오는날체크x.png'">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="WrapWidth-2">
                <div id="RecommendedCourseList">
                    <h5>
                        <b>가족</b>끼리
                    </h5>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/50">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-발키리/발키리2.gif);"> </div>
                            <div class="title">
                                <span class="name">발키리</span>
                            </div>
                            <div class="zone">
                                <span class="name">드라켄밸리</span>
                            </div>
                            <div class="num"> 01 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-미로탐험/미로탐험2.jpg);"> </div>
                            <div class="title">
                                <span class="name">미로탐험</span>
                            </div>
                            <div class="zone">
                                <span class="name">놀이기구</span>
                            </div>
                            <div class="num"> 02 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-비룡열차/비룡열차2.jpg);"> </div>
                            <div class="title">
                                <span class="name">비룡열차</span>
                            </div>
                            <div class="zone">
                                <span class="name">놀이기구</span>
                            </div>
                            <div class="num"> 03 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-트리키리키의볼하우스/볼하우스2.jpg);"> </div>
                            <div class="title">
                                <span class="name">트리키리키의 볼하우스</span>
                            </div>
                            <div class="zone">
                                <span class="name">위자드가든</span>
                            </div>
                            <div class="num"> 04 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-드롤의위자드트레인/위자드트레인2.jpg);"> </div>
                            <div class="title">
                                <span class="name">드롤의 위자드트레인</span>
                            </div>
                            <div class="zone">
                                <span class="name">위자드가든</span>
                            </div>
                            <div class="num"> 05 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-글린다의매직펌킨/매직펌킨2.jpg);"> </div>
                            <div class="title">
                                <span class="name">글린다의 매직펌킨</span>
                            </div>
                            <div class="zone">
                                <span class="name">위자드가든</span>
                            </div>
                            <div class="num"> 06 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-스파키의매직카/매직카2.jpg);"> </div>
                            <div class="title">
                                <span class="name">스파키의 매직카</span>
                            </div>
                            <div class="zone">
                                <span class="name">위자든가든</span>
                            </div>
                            <div class="num"> 07 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-에어벌룬/에어벌룬2.jpg);"> </div>
                            <div class="title">
                                <span class="name">에어벌룬</span>
                            </div>
                            <div class="zone">
                                <span class="name">놀이기구</span>
                            </div>
                            <div class="num"> 08 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-댄싱컵/댄싱컵2.jpg);"> </div>
                            <div class="title">
                                <span class="name">댄싱컵</span>
                            </div>
                            <div class="zone">
                                <span class="name">놀이기구</span>
                            </div>
                            <div class="num"> 09 </div>
                        </a>
                    </div>
                    <div class="CourseList">
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/23">
                            <div class="photo" style="background-image: url(/gjw.project/src/main/resources/static/img-kdh/어트랙션/어트랙션-가족열차/가족열차2.jpg);"> </div>
                            <div class="title">
                                <span class="name">가족열차</span>
                            </div>
                            <div class="zone">
                                <span class="name">놀이기구</span>
                            </div>
                            <div class="num"> 10 </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 코스 추천 부분 끝-->
    <!-- 하단 바 시작 -->
    <div id="WrapBottom">
        <div id="BottomFNB">
            <div class="WrapWidth">
                <div id="BottomSNS">
                    <ul>
                        <li class="Sns-first-li">
                            <span></span>
                            <a href="http://www.facebook.com/hi.giw" target="_blank">공식페이스북</a> 
                            <!-- _blank 클릭하면 계속 새로운 탭이 열림-->
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://blog.naver.com/hi_gjw" target="_blank">공식블로그</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a> 
                        </li>
                    </ul>
                </div>
                <span id="BottomGoTop">TOP</span>
            </div>
        </div>
        <div id="BottomContents">
            <div class="WrapWidth-last">
                <div id="BottomLeft">
                    <div id="BottomLogo">
                        <a href="/">
                            <img src="/gjw.project/src/main/resources/static/img-kdh/경주월드 로고.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div id="BottomCenter">
                    <div id="BottomMenu">
                        <ul>
                            <li>
                                <a href="">경주월드 소개</a>
                            </li>
                            <li>
                                <a href="">이용약관</a>
                            </li>
                            <li>
                                <a href="">개인정보취급방침</a>
                            </li>
                            <li>
                                <a href="">제휴문의</a>
                            </li>
                            <li>
                                <a href="">채용안내 및 지원</a>
                            </li>
                            <li>
                                <a href="">이메일무단수집거부</a>
                            </li>
                        </ul>
                    </div>
                    <div id="BottomMobileLogo"></div>
                    <div id="BottomInfomation">
                        <ul>
                            <li>경주월드 주식회사 (경주지점)</li>
                            <li>주소 : 경주시 보문로 544(천군동) 38117</li>
                            <li>대표전화 : 1544-8765</li>
                            <li>사업자등록번호 : 505-85-15586</li>
                            <li>대표이사 : 정원기, 함영관</li>
                        </ul>
                    </div>
                    <div id="BottomCopyright">
                        <ul>
                            <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                        </ul>
                    </div>
                </div>
                <div id="BottomRight">
                    <div id="BottomFamily">
                        <ul>
                            <li>
                                 관련사이트 바로가기 
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단 바 끝 -->
</body>
</html>