
body {
    background-color: #FFFFFF;
    margin: 0px;
}

.wrap {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0px auto;
}

/*헤더*/
#header {
    margin-top: 46px;
}

header h1 {
    float: left;
}

header a {
    text-decoration: none;
}

header h1 img {
    width: 160px;
}

.nav-menu {
    float: right;
}

.nav-menu ul{
    height: 21px;

    list-style: none;
}

.nav-menu li {
    float: left;
    font-size: 14px;
}

.nav-menu a {
    color: #333;
    margin-left: 20px;
    text-decoration: none;
}

.nav-menu img {
    width: 16px;
    height: 16px;

}

.nav-menu ul::after {
    clear: both;
    display: block;
    content: '';
}

header::after {
    clear: both;
    display: block;
    content: '';
}
/*헤더 끝*/

/*바디 시작*/
#container {
    margin-top: 40px;
}
/*바디 헤드*/
.page-title h2 {
    font-size: 50px;
    font-weight: 700;
}

.page-title p {
    font-size: 21px;
    color: #aaa;
}

.contents {
    margin-top: 40px;
}

.box-wrap {
    display: flex;
}

.left-box {
    width: 486px;
}

.left-box h3 {
    background: url(/static/donguk-img/selected_amuse.png) center center no-repeat;
    background-size: cover;

    width: 100%;
    height: 84px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 84px;
    border-radius: 10px;
    padding: 0px 20px;
}

.right-box {
    
    width: 588px;
    margin-left: 126px;
}

.month {
    text-align: center;
    font-size: 24px;
}

.inner {
    position: relative;
}

.inner span {
    cursor: pointer;
}

.prev {
    position: absolute;
    top: 20%;
    left: -60px;
    width: 24px;
    height: 24px;
    background-image: url(/static/donguk-img/btn_prev.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
}

.next {
    position: absolute;
    top: 20%;
    right: -60px;
    width: 24px;
    height: 24px;
    background-image: url(/static/donguk-img/btn_next.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
}

.calendar {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 32px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table-row;
}

.calendar tbody {
    display: table-row-group;
    vertical-align: middle;
}

.calendar th {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 400;
}

.calendar th:first-child {
    color: #f85549;
}

.calendar th:last-child {
    color: #2498e5;
}

.calendar tbody  tr th {
    cursor: pointer;
}

.calendar tbody td {
    position: relative;
    width: 84px;
    height: 40px;
    line-height: 40px;
    padding: 20px 0px;
}

.choiceDay {
    background: #f85549;
    background-color: #f85549;
    color: white !important;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.pastDay {
    opacity: 0.15;
}


.next-btn {
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

.btn-type {
    display: inline-block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    background: 1px solid #f85549;
    background-color: #f85549;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
}

footer {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 80px 0px 40px;

    height: 90px;
}

footer img {
    width: 80px;
    display: block;
}

footer ul {
    display: block;
    height: 54px;
    margin-top: 10px;
    list-style: none;
}

footer li {
    display: list-item;
    float: left;
    margin-left: 20px;
    text-align: center;
}

footer li:nth-child(1) {
    margin-left: 0px;
}

footer li:nth-child(5) {
    clear: both;
    margin-left: 0px;
}

footer li:nth-child(7) {
    clear: both;
    margin-left: 0px;
    color: #aaa;
    letter-spacing: 0.5px;
}
