<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/payment/css/payment_style.css">
    <link rel="stylesheet" href="/static/payment/css/payment_select.css">
    <title>결제 선택</title>
</head>
<body>
    <div id="wrap_containers">
        <div class="wrap">
            
            <th:block th:replace="/fragments/header"></th:block>
            
            <div id="container">
                <div class="page-title">
                    <h2>날짜 선택</h2>
                    <p>방문하시는 날짜를 선택해주세요</p>
                </div>
                <div class="contents">
                    <div class="box-wrap">
                        <section class="left-box">
                            <h3>어뮤즈먼트 이용권</h3>
                        </section>
                        <section class="right-box">
                            <div class="calendar-wrap">
                                <div class="month">
                                    <span class="inner">
                                        <span class="prev" onclick="prevCalendar();"></span>
                                        <b>2023. 07</b>
                                        <span class="next" onclick="nextCalendar()"></span>
                                    </span>
                                </div>
                                <table class="calendar">
                                    <thead>
                                        <tr>
                                            <th>일</th>
                                            <th>월</th>
                                            <th>화</th>
                                            <th>수</th>
                                            <th>목</th>
                                            <th>금</th>
                                            <th>토</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>7</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="next-btn">
                                <a href="" class="btn-type">다음</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <img src="/static/donguk-img/logo.png" alt="경주월드">
                <ul>
                    <li> 경주월드 주식회사(경주지점) </li>
                    <li> 주소 경주시 보문로 544(천군동) </li>
                    <li> 대표전화 1544-8765 </li>
                    <li> 사업자등록번호, 505-85-15586 </li>
                    <li> 대표이사 정원기, 함영관 </li>
                    <li> 개인정보관리자 권준오 </li>
                    <li> ⓒ GyeongjuWorld. All rights reserved. </li>
                </ul>
            </footer>
        </div>
    </div>
    <script src="/static/payment/js/payment_select.js"></script>
</body>
</html>