<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/payment/css/payment_style.css">
    <link rel="stylesheet" href="/static/payment/css/payment_first.css">
    <title>결제 선택</title>
</head>
<body>
    <div id="wrap_containers">
        <div class="wrap">
            
            <th:block th:replace="/fragments/header"></th:block>
            
            <div id="container">
                <div class="page-title">
                    <h2>경주월드 & 캘리포니아 비치</h2>
                    <p>온라인 할인받고 매표소 방문없이 빠르게 입장하세요</p>
                </div>
                <div class="main-menu">
                    <div class="big-wrap">
                        <div class="big-amuse">
                            <a href="/payment/payment_select">
                                <img class="object" src="/static/donguk-img/main_menu_object1.png" alt="경주월드">
                                <strong>경주월드 이용권</strong>
                                <span class="desc">
                                    드라켄, 크라크, 파에톤 등
                                    <br>
                                     다양한 어트랙션을 즐겨보세요
                                </span>
                                <span class="list">
                                    <p> 
                                        <span>카드사 제휴할인</span>
                                    </p>
                                    <p>
                                        <span>온라인 회원할인</span>
                                    </p>
                                    <p>
                                        <span>평일 3시간</span>
                                    </p>
                                    <p>
                                        <span>주말/공휴일 4시권</span>
                                    </p>
                                </span>
                            </a>
                        </div>
                        <div class="big-cali">
                            <a href="">
                                <img class="object" src="/static/donguk-img/main_menu_object2.png" alt="캘리포니아비치">
                                <strong>캘리포니아비치 이용권</strong>
                                <span class="desc">
                                    2023년 여름에도
                                    <br>
                                     캘리포니아 비치와 함께
                                    <br>
                                     시원한 여름을 보내세요!
                                </span>
                                <span class="list">
                                    <p> 
                                        <span>카드사 제휴할인</span>
                                    </p>
                                    <p>
                                        <span>온라인 회원할인</span>
                                    </p>
                                    <p>
                                        <span>오후권(2시)</span>
                                    </p>
                                    <p>
                                        <span>세트권(3~4인)</span>
                                    </p>
                                    <p>
                                        <span>패밀리권(2~3인)</span>
                                    </p>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="small-wrap">
                        <div class="small-wrap-menu">
                            <a href="">
                                언제든지 즐기는
                                <strong>연간이용권</strong>
                            </a>
                        </div>
                        <div class="small-wrap-menu">
                            <a href="">
                                모이면 할인이다
                                <strong>단체 예약</strong>
                            </a>
                        </div>
                        <div class="small-wrap-menu">
                            <a href="">
                                새로운 서비스를
                                <strong>준비중입니다.</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <img src="/static/donguk-img/logo.png" alt="경주월드">
                <ul>
                    <li> 경주월드 주식회사(경주지점) </li>
                    <li> 주소 경주시 보문로 544(천군동) </li>
                    <li> 대표전화 1544-8765 </li>
                    <li> 사업자등록번호, 505-85-15586 </li>
                    <li> 대표이사 정원기, 함영관 </li>
                    <li> 개인정보관리자 권준오 </li>
                    <li> ⓒ GyeongjuWorld. All rights reserved. </li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>