<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>

</head>
<body>
    <!--상단 배너 시작-->
    <div id="TopBanner">
        <div class="box-wrapper">
            <div class="box-viewport">
                <ul class="box-slider-list">
                    <li>배너1</li>
                    <li>배너2</li>
                    <li>배너3</li>
                    <li>배너4</li>
                    <li>배너5</li>
                    <li>배너6</li>
                </ul>
            </div>
            <div class="box-controller">
                <ul class="box-pager-list">
                    <li>1번 컨트롤러</li>
                    <li>2번 컨트롤러</li>
                    <li>3번 컨트롤러</li>
                    <li>4번 컨트롤러</li>
                    <li>5번 컨트롤러</li>
                </ul>
            </div>
        </div>
    </div>
    <!--상단 배너 끝-->
    <!--퀵 배너-->
    <div id="quickController">
        <span class="toggle-botten"></span>
        <ul>
            <li>할인정보</li>
            <li>공연정보</li>
            <li>드라켄벨리</li>
        </ul>
    </div>
    <!--퀵 배너 끝-->
    <!--상단 메인 시작-->
    <div id="main-top">
        <div class="topWrap">
            <div class="main-top-top">
                <div class="main-top-left">
                    <div>경주월드 어뮤즈먼트</div>
                    <div>캘리포니아비치</div>
                </div>
                <div class="main-top-middle">
                    <div>경주월드 메인로고</div>
                </div>
                <div class="main-top-right">
                    <div class="main-top-list">
                        <ul>
                            <li>홈</li>
                            <li>로그인</li>
                            <li>회원가입</li>
                            <li>단체예약</li>
                            <li>연간이용권</li>
                            <li>언어 선택</li>
                        </ul>
                    </div>
                    <div class="main-top-search">
                        <div>검색창</div>
                        <div>돋보기</div>
                    </div>
                </div>
            </div>
            <div class="main-top-bottom">
                <div class="main-top-bottom-all">
                    <div class="main-top-menu">
                        <div>
                            <div>이용정보</div>
                            <div>요금정보</div>
                            <div>어뮤즈먼트 소개</div>
                            <div>공연 및 이벤트</div>
                            <div>고객센터</div>
                            <div>스마트할인예약</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--상단 메인 끝-->
    <!--내용 Wrap 시작-->
    <div id="main-content">
        <div class="main-visual">
            <div class="main-slider">
                <div class="main-slider-wrap">
                    <!--위 box-viewport와 같이 묶어서 슬라이드쇼 만든듯-->
                    <nav class="center-main-banner">
                        <ul class="center-main-banner-list">
                            <!--box-slider-->
                            <li>내용 배너1</li>
                            <li>내용 배너2</li>
                            <li>내용 배너3</li>
                            <li>내용 배너4</li>
                            <li>내용 배너5</li>
                            <li>내용 배너6</li>
                            <li>내용 배너7</li>
                        </ul>
                    </nav>
                </div>
                <div class="center-main-pointer">
                    <ul class="center-main-pointer-list">
                        <li>1번 점</li>
                        <li>2번 점</li>
                        <li>3번 점</li>
                        <li>4번 점</li>
                        <li>일시정지</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-open-time">
            <div>
                <div>시계 이미지</div>
                <div>오늘의 운영시간</div>
            </div>
            <b>10:00~18:00</b>
        </div>
        <div class="main-notice">
            <div class="WrapWidth">
                <span>확성기 아이콘</span>
            </div>
            <div class="notice-list">
                <ul class="notice-list-details">
                    <li>
                        <p>섬머린스플래쉬 여름기간 운행안내</p>
                        <span>2023-07-04</span>
                    </li>
                    <li>
                        <p>담배판매 중단안내</p>
                        <span>2023-06-27</span>
                    </li>
                    <li>
                        <p>kb국민카드 제휴 종료 안내</p>
                        <span>2023-06-23</span>
                    </li>
                    <li>
                        <p>치즈앤샷 오픈</p>
                        <span>2023-01-27</span>
                    </li>
                    <li>
                        <p>고객 1, 2주차장 유료화 안내</p>
                        <span>2022-10-14</span>
                    </li>
                </ul>
            </div>
            <ul class="list-botten">
                <li class="list-botten-up">
                    <span>리스트 위 화살표</span>
                </li>
                <li class="list-botten-down">
                    <span>리스트 아래 화살표</span>
                </li>
                <li>
                    <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">더보기 +</a>
                </li>
            </ul>
        </div>
        <div class="main-sale">
            <div>
                <div class="WrapWidth">
                    <h4>
                        <b>요금할인정보</b>
                        <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400">더보기 +</a>
                        <p>할인은 크게! 노는건 즐겁게!</p>
                    </h4>
                    <ul id="sale-container">
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/15">
                                <div>홈페이지 회원 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/166">
                                <div>에브리타임 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/162">
                                <div>kb pay 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/161">
                                <div>만나이 통일법 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/160">
                                <div>섬머 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/81">
                                <div>경주 페이 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/75">
                                <div>홈페이지 회원 생일 우대 사진 들어갈 곳</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0400/view/58">
                                <div>중고생 인스타그램 팔로우 할인 사진 들어갈 곳</div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="main-attraction">
            <div class="WrapWidth">
                <h4>어트랙션운휴정보
                    <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0200">더보기 +</a>
                </h4>
                <div class="box-wrapper">
                    <div class="box-viewport">
                        <ul class="box-slider">
                            <!--36개...-->
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>댄싱컵</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr//Contents/contents.php?cmsNo=DB0200/view/50">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>발키리</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/24">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>섬머린스플래쉬</span>
                                    <span>운휴중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/5">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>스와니의 클라우드 라이드</span>
                                    <span>운휴중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/2">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>드롤의 위자드트레인</span>
                                    <span>운휴중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/1">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>트리키리키의 볼하우스</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/3">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>글린다의 매직펌킨</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>보기의 문라이트세일</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>페기의 케로셀</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>스파키의 매직카</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>파에톤</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>메가드롭</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>토네이도</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>그랜드캐년대탐험</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>드래곤레이스</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>크라크</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>드라켄</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>범퍼카</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>급류타기</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>패밀리 바이킹</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>가족열차</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>비룡열차</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>미로탐험</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>킹 바이킹</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>에어벌룬</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>바운스스핀</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>댄싱컵</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>발키리</span>
                                    <span>정상운영중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>섬머린스플래쉬</span>
                                    <span>운휴중</span>
                                </a>
                            </li>
                            <li class="box-clone">
                                <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200/view/28">
                                    <div>
                                        <!--이미지 들어갈 곳-->
                                    </div>
                                    <span>스와니의 클라우드 라이드</span>
                                    <span>운휴중</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="main-attraction-button">
                        <div class="main-attraction-buttons">
                            <button type="button">Pre</button>
                            <button type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>

</body>
</html>