body {
    top: 0px;
    width: 100%;
    max-width: 1300px;

    position: relative;
    margin: 0px auto;
}




.box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-viewport {
    overflow-x: hidden;
}

.box-slider-list {
    display: flex;
    width: 100%;
    max-width: 1300px;
}


.box-controller {
    position: absolute;
    top: 90px;
    left: 50%;
    width: 26px;
    height: 14px;
    
}
.box-pager-list {
    display: flex;
    background-color: white;
    width: 14px;
    height: 14px;
}


.box-pager-list li{
    
    border: 1px solid #141414;
    border-radius: 50%;
    
}


#quickController {
    position: fixed;
    
    top: 50%;
    left: 97%;

    cursor: pointer;
}
.main-top {
    position: relative;
}


.main-top-top {
    

    position: fixed;
    margin: 0px;
    max-width: 1300px;

    width: 100%;
    width: 1300px;
    height: 90px;

    top: 110px;
    z-index: ;

    
 }

.main-top-top-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
}

.main-top-left {
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 

 .main-top-left a {
    font-size: 0.67rem;
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-top-right {
    width: 390px;
    height: 87px;
}

.main-top-list ul{
    display: flex;
    
}

.main-top-list ul li a{
    color: #707070;
    font-weight: 300;
    font-size: 0.67rem;
    margin-left: 14px;
}


.choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-top-search {
    display: flex;
    justify-content: end;
}

.hash-tag-input {
    width: 151px;
    height: 35px;
    line-height: 31px;
    padding: 0 10px;
    float: left;
    border: 1px solid #e1e1e1;
    border-right: 0px;
    color: #707070;
    font-size: 0.89rem;
    font-weight: 300;
}

.glass {
    width: 35px;
    height: 35px;
    float: right;
    border: 1px solid #e1e1e1;
    border-left: 0px;
    cursor: pointer;

    
}

.main-top-bottom {

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.main-top-bottom-all {
    height: 56px;
    width: 1300px;
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
}
.main-top-menu {
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
}

.main-top-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}

.main-top-menu ul li {
    width: 216px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-top-menu ul li a{
    font-weight: 700;
    color: #000000;
    font-size: 1.11rem;
}

#main-content {
    
}

.main-visual {
    height: 610px;
    overflow: hidden;
}

.main-slider {
    max-width: 3900px;
    position: relative;
    
}


.center-main-banner-list {
    display: flex;
    position: absolute;
}
.center-main-pointer {
    position: absolute;    
    
    
    
}

.center-main-direction {
    position: absolute;
}

.center-main-pointer-list {
    display: flex;
}

.center-main-direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-open-time {
    display: flex;
    height: 70px;
    margin-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 8);
    justify-content: center;
    align-items: center;
}

.main-open-time span {
    display: flex;
    background-color: rgba(0, 0, 0, 8);
}

.main-open-time p {
    font-size: 0.78rem;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 8);
    color: #ffffff;
}
.main-open-time b{
    font-size: 1.6rem;
    margin-left: 16px;
    color: #fff000;
    background-color: rgba(0, 0, 0, 8);
}

.main-notice {
    height: 64px;
    overflow: hidden;
    margin: 0px;
    padding: 12px 15px;
    width: 1270px;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #e1e1e1;
}



.main-notice-plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.notice-list-details li{
    display: flex;
}

.notice-list-details li a {
    font-size: 0.78rem;
    padding: 0px 10px;
    color: #000;
    
}

.notice-list-details li span {
    color: #999;
    font-weight: 300;
    font-size: 0.78rem;
    padding: 0px 10px;
}

.list-botten {
    display: flex;
    cursor: pointer;
    
}

.list-botten li span{

    display: flex;
    border: 1px solid #e1e1e1;
    width: 32px;
    height: 30px;
    justify-content: center;
    align-items: center;
}



.list-botten li a{
    display: flex;
    width: 85px;
    height: 30px;
    justify-content: center;
    align-items: center;


    color: #555555;
    font-weight: 300;
    font-size: 0.78rem;
    text-align: center;
    background-color: #ffffff;

    border: 1px solid #e1e1e1;
}

.main-sale {
    display: flex;
    width: 100%;
    height: 792px;

    
    margin-top: 70px;

    
}

.main-sale-wrapwidth h4{
    font-size: 2.11rem;
    font-weight: 300;
    color: #252525;
    text-align: center;
    
    width: 1300px;
    height: 120px;

    
    left: 0%;

}
.main-sale-wrapwidth h4 span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sale-wrapwidth h4 b{
   font-weight: 700;
   color: #e2485a;
   font-size: 2.11rem;
}

.main-sale-wrapwidth h4 a {

    display: flex;
    width: 85px;
    height: 30px;
    justify-content: center;
    align-items: center;


    color: #555555;
    font-weight: 300;
    font-size: 0.78rem;
    text-align: center;
    background-color: #ffffff;

    border: 1px solid #e1e1e1;
}

.main-sale-wrapwidth h4 p{
    font-weight: 300;
    font-size: 2.11rem;
    color: #252525;
    text-align: center;
}

#sale-container {
    display: flex;
    width: 100%;
    padding-top: 40px;
    
    
}

#sale-container li {
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;

    

    
    
}

#sale-container li:nth-child(1) {
    margin-left: 0px;
}
#sale-container li:nth-child(5) {
    margin-left: 0px;
    clear: both;
}

.main-attraction {
    height: 520px;
    padding-top: 80px;

}

.main-attraction-wrapwidth {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;


}

