<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어트랙션 | 꿈, 사랑, 행복의 경주월드!</title>
    <link rel="stylesheet" href="/static/css/kdh.css/foodview.css">
    <link rel="stylesheet" href="/static/css/kdh.css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body id="Amusement">
    <div>
        <header >
            <div id="TopBanner">
                <div class="box-wrapper" style="max-width: 100%;">
                    <div class="box-viewport" style="width: 100%; overflow: hidden; position: relative; height: 110px;">
                        <ul class="box-slider-list" style="width: 715%; position: relative;">
                            <!-- transition-duration: 1s; transform: translate3d(-761, , );-->
                            <li style="background-image: url('/main_image/top_banner/boardFile.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                    
                                </a>
                            </li>
                            <li style="background-image: url('/main_image/top_banner/topbanner피터의매직.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                                </a>
                            </li>
                            <li style="background-image: url('/main_image/top_banner/topbanner감성교복.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                </a>
                            </li>
                            <li style="background-image: url('/main_image/top_banner/topbanner황리단길.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                    
                                </a>
                            </li>
                            <li style="background-image: url('/main_image/top_banner/topbanner경주월드캐스트.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                   
                                </a>
                            </li>
                            <li style="background-image: url('/main_image/top_banner/boardFile.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                    
                                </a>
                            </li>
                            <li style="background-image: url('/main_image/top_banner/topbanner피터의매직.jpg');">
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ" target="_blank">
                                
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- transition-duration: 50s;
        transform: translate3d(-7595px, 0px);-->
                    <div class="box-controller">
                        <div class="box-pager">
                            <div class="box-pager-item">
                                <a href="" class="box-pager-link">1</a>
                            </div>
                            <div class="box-pager-item">
                                <a href="" class="box-pager-link">2</a>
                            </div>
                            <div class="box-pager-item">
                                <a href="" class="box-pager-link">3</a>
                            </div>
                            <div class="box-pager-item">
                                <a href="" class="box-pager-link">4</a>
                            </div>
                            <div class="box-pager-item">
                                <a href="" class="box-pager-link">5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--상단 배너 끝-->
            <!--퀵 배너-->
            <div id="quickController">
                <span class="toggle-botten"></span>
                <ul>
                    <li>
                        <a href="할인정보 페이지">
                            <img src="/main_image/PC quick/할인정보.png" alt="">
                            <span>할인정보</span>
                        </a>
                    </li>
                    <li>
                        <a href="공연정보 페이지">
                            <img src="/main_image/PC quick/공연 정보.png" alt="">
                            <span>공연정보</span>
                        </a>
                    </li>
                    <li class="draken">
                        <a href="드라켄벨리">
                            <img src="/main_image/PC quick/드라켄벨리.png" alt="">
                            <span>드라켄벨리</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--퀵 배너 끝-->
            <!--상단 메인 시작-->
            <div id="main-top">
                <div class="topWrap">
                    <div class="main-top-top">
                        <div class="main-top-top-details">
                            <div class="main-top-left">
                                <ul class="main-top-left-ul">
                                    <li class="first">
                                        <a href="경주월드 어뮤즈먼트 사이트" class="on"> 
                                            경주월드 어뮤즈먼트
                                        </a>
                                    </li>
                                    <li class="second">
                                        <a href="캘리포니아비치 사이트">
                                            캘리포니아비치
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-top-middle">
                                <a href="경주월드 메인 사이트 주소">
                                    <img src="/main_image/main_logo/경주월드 메인로고.jpg" style="width: 196px; height: 78px;">
                                    
                                </a>
                            </div>
                            <div class="main-top-right">
                                <div class="main-top-list">
                                    <ul>
                                        <li>
                                            <a href="메인사이트 주소">홈</a>
                                        </li>
                                        <li>
                                            <a href="로그인 사이트 주소">로그인</a>
                                        </li>
                                        <li>
                                            <a href="회원가입 사이트 주소">회원가입</a>
                                        </li>
                                        <li class="reservation">
                                            <a href="단체예약 사이트 주소" style="color: #f26c4f;">단체예약</a>
                                        </li>
                                        <li class="reservation">
                                            <a href="연간이용권 사이트 주소" style="color: #f26c4f;">연간이용권</a>
                                        </li>
                                        <li class="choice">
                                            <a href="">
                                                <img src="/main_image/main_logo/Google__G__Logo.svg.png" style="height: 19px; width: 19;">
                                                언어 선택
                                                <img src="/main_image/main_logo/언어선택 화살표.png" >
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-top-search" style="display: block;">
                                    <form action="" name="frmSearch">
                                        <label for="search-label">
                                            검색어
                                            <strong class="sound_only">필수</strong>
                                        </label>
                                        <input type="text" name="search-input" class="hash-tag-input1" style="display: none;">
                                        <div class="hash-tag-input2"></div>
                                        <input type="text" class="sch_submit" value="검색">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="main-top-bottom">
                        <div class="main-top-bottom-all">
                            <div class="main-top-menu" style=" width: 100%; left: 0px; top: 0px;">
                                <ul style="margin-top: 0px;">
                                    <li class="list-hover">
                                        <a href="이용정보 주소들어가는 곳" style="font-size: 20px;">
                                            이용정보
                                        </a>
                                        <ul class="hover">
                                            <li style="padding: 0px 20px;">
                                                <a href="">운영시간</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">운휴정보</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">이용꿀팁</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">주차안내</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">찾아오시는길</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-hover">
                                        <a href="요금정보 주소들어가는 곳" style="font-size: 20px;">
                                            요금정보
                                        </a>
                                        <ul class="hover">
                                            <li style="padding: 0px 20px;">
                                                <a href="">이용요금</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">우대프로그램</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">제휴카드</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">기업체 특판안내</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-hover">
                                        <a href="어트랙션 주소들어가는 곳" style="font-size: 20px;">
                                            어뮤즈먼트 소개
                                        </a>
                                        <ul class="hover">
                                            <li style="padding: 0px 20px;">
                                                <a href="">추천코스</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">어트랙션</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">레스토랑&스낵</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">부대시설</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">가이드맵</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-hover">
                                        <a href="공연 및 이벤트 주소들어가는 곳" style="font-size: 20px;">
                                            공연 및 이벤트
                                        </a>
                                        <ul class="hover">
                                            <li style="padding: 0px 20px;">
                                                <a href="">추천코스</a>
                                        </ul>
                                    </li>
                                    <li class="list-hover">
                                        <a href="공지사항 주소들어가는 곳" style="font-size: 20px;">
                                            고객센터
                                        </a>
                                        <ul class="hover">
                                            <li style="padding: 0px 20px;">
                                                <a href="">공지사항</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">고객소리함</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">자주묻는질문</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">분실물센터</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-hover">
                                        <a href="시작페이지 주소들어가는 곳" style="font-size: 20px;">
                                            스마트할인예약
                                        </a>
                                        <ul class="hover">
                                            <li style="padding: 0px 20px;">
                                                <a href="">티켓예매</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">단체예약</a>
                                            </li>
                                            <li style="padding: 0px 20px;">
                                                <a href="">연간이용</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="WrapTop">
        <div>
        </div>
        <div id="TopLNB" class="c2" style=" background-size: cover;">
        <!-- 어뮤즈먼트 소개-->
            <div class="backimg">
            <h2>어뮤즈먼트 소개</h2>
                <div id="TopLocation">
                    <div class="WrapWidth">
                        <ul class="first-ul">
                            <li class="homeimg">
                                <a href="https://www.gjw.co.kr/Contents/contents.php"></a>
                            </li>
                            <li class="add-menu">
                                <span>어뮤즈먼트 소개</span>
                                <div class="select-menu">
                                    <ul>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0100">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DA0300">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100">어뮤즈먼트 소개</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DC0100">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="https://smart.gjw.co.kr/common/resMain.do">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="add-menu">
                                <span>어트랙션</span>
                                <div class="select-menu">
                                    <ul>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0100">추천코스</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200">어트랙션</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0300">레스토랑&스낵</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0400">부대시설</a>
                                        </li>
                                        <li>
                                            <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0500">가이드맵</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    </div>

</div>
    <!-- 상단 어뮤즈먼트 소개 wrap 끝-->
    <!-- 어트랙션 내용 wrap 시작-->
    <div id="WrapContents">
        <div id="ContentTitle">
            <div class="WrapWidth">
                <h3>레스토랑&스낵</h3>
                <div class="ContentControl">
                    <ul>
                    <li class="snslistBtn">
                        " 공유하기 "
                        <div class="snslist">
                            <b>공유하기</b>
                            <span class="close"></span>
                            <ul>
                                <li>
                                    <span onclick="sendSns('facebook', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "페이스북"
                                </li>
                                <li>
                                    <span onclick="sendSns('twitter', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "트위터"
                                </li>
                                <li>
                                    <span onclick="sendSns('블로그', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "블로그"
                                </li>
                                <li>
                                    <span onclick="sendSns('카카오톡', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                    "카카오톡"
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="clipboardUrlBtn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200">링크복사</li>
                    <li class="printBtn">인쇄</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="WrapPrint">
            <!-- 어트랙션 세부 설명 시작 -->
            <div class="WrapWidth-1">
            <div id="FacilityView">
                <div class="FacilityPhotoArea">
                    <div id="AttractionsPhoto">
                        <div style="background-image: url(/static/img-kdh/food/cupnut/cupnut_1.jpg);"></div>
                        <ul>
                            <li style="background-image: url(/static/img-kdh/food/cupnut/cupnut_2.jpg);"></li>
                            <li style="background-image: url(/static/img-kdh/food/cupnut/cupnut_3.jpg);"></li>
                            <li style="background-image: url(/static/img-kdh/food/cupnut/cupnut_4.jpg);"></li>
                            <li style="background-image: url(/static/img-kdh/food/cupnut/cupnut_5.jpg);"></li>
                        </ul>
                    </div>
                    <div id="AttractionsInfo">
                        <h4> 컵넛 </h4>
                        <ul>
                            <li>
                                 보자마자 반하는 도넛 비주얼!
                                <br>핫한 컵넛 경주월드에서 만나보세요
                            </li>
                            <li>
                                <span>서비스</span>
                                운영중
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="RestaurantMenu">
                    <h4>주요메뉴</h4>
                    <ul>
                        <li>
                            <div class="photo" style="background-image: url(/static/img-kdh/food/cupnut/mainmenu_7.jpg);"> </div>
                            <div class="food-info">
                                <span class="name">딸기 도넛</span>
                            </div>
                        </li>
                        <li>
                            <div class="photo" style="background-image: url(/static/img-kdh/food/cupnut/mainmenu_8.jpg);"> </div>
                            <div class="food-info">
                                <span class="name">로투스 도넛</span>
                            </div>
                        </li>
                        <li>
                            <div class="photo" style="background-image: url(/static/img-kdh/food/cupnut/mainmenu_9.jpg);"> </div>
                            <div class="food-info">
                                <span class="name">크림브륄레 도넛</span>
                            </div>
                        </li>
                        <li>
                            <div class="photo" style="background-image: url(/static/img-kdh/food/cupnut/mainmenu_10.jpg);"> </div>
                            <div class="food-info">
                                <span class="name">라임 에이드</span>
                            </div>
                        </li>
                        <li>
                            <div class="photo" style="background-image: url(/static/img-kdh/food/cupnut/mainmenu_10.jpg);"> </div>
                            <div class="food-info">
                                <span class="name">브루잉커피</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="FacilityMapArea">
                    <h4>위치정보</h4>
                    <div class="FacilityMap">
                        <img src="/static/img-kdh/food/cupnut/cupnut_6.jpg" alt="">
                    </div>
                </div>
                <div class="Bottom-Btn-Area">
                    <a href="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0400">목록</a>
                </div>
            </div>
            <div class="AR"></div>
            <div class="AZ"></div>
        </div>
        <script></script>
    </div>
    <!-- 하단 -->
    <div id="WrapBottom">
        <div id="BottomFNB">
            <div class="WrapWidth">
                <div id="BottomSNS">
                    <ul>
                        <li class="Sns-first-li">
                            <span></span>
                            <a href="http://www.facebook.com/hi.giw" target="_blank">공식페이스북</a> 
                            <!-- _blank 클릭하면 계속 새로운 탭이 열림-->
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://blog.naver.com/hi_gjw" target="_blank">공식블로그</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a> 
                        </li>
                        <li class="Sns-Remain-li">
                            <span></span>
                            <a href="http://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a> 
                        </li>
                    </ul>
                </div>
                <span id="BottomGoTop">TOP
                    <script>
                        let topBtn = document.querySelector("#BottomGoTop");
                        topBtn.onclick = () => {
                            window.scrollTo({
                                top: 0,
                                scbehavior: "smooth"
                            })
                        };
                    </script>
                </span>
            </div>
        </div>
        <div id="BottomContents">
            <div class="WrapWidth-last">
                <div id="BottomLeft">
                    <div id="BottomLogo">
                        <a href="/">
                            <img src="/static/img-kdh/경주월드 로고.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div id="BottomCenter">
                    <div id="BottomMenu">
                        <ul>
                            <li>
                                <a href="">경주월드 소개</a>
                            </li>
                            <li>
                                <a href="">이용약관</a>
                            </li>
                            <li>
                                <a href="">개인정보취급방침</a>
                            </li>
                            <li>
                                <a href="">제휴문의</a>
                            </li>
                            <li>
                                <a href="">채용안내 및 지원</a>
                            </li>
                            <li>
                                <a href="">이메일무단수집거부</a>
                            </li>
                        </ul>
                    </div>
                    <div id="BottomMobileLogo"></div>
                    <div id="BottomInfomation">
                        <ul>
                            <li>경주월드 주식회사 (경주지점)</li>
                            <li>주소 : 경주시 보문로 544(천군동) 38117</li>
                            <li>대표전화 : 1544-8765</li>
                            <li>사업자등록번호 : 505-85-15586</li>
                            <li>대표이사 : 정원기, 함영관</li>
                        </ul>
                    </div>
                    <div id="BottomCopyright">
                        <ul>
                            <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                        </ul>
                    </div>
                </div>
                <div id="BottomRight">
                    <div id="BottomFamily">
                        <ul>
                            <li>
                                 관련사이트 바로가기 
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
    
</body>
</html>