<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우대프로그램 | 꿈, 사랑, 행복의 경주월드!</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/kdh.css/style.css">
    <link rel="stylesheet" href="/static/css/kdh.css/preferential.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body id="Amusement">

	<th:block th:replace="/mainfragments/mainheader"></th:block>
	
    <main>
        <div id="TopLNB" style="top: 0px; background-size: cover; background-position: 50% 50%;">
            <div>
                <h2>요금정보</h2>
                <div class="TopLocation">
                    <div class="Top-WrapWidth">
                        <ul>
                            <li>
                                <a href="/">홈</a>
                            </li>
                            <li>
                                <span>요금정보</span>
                                <div class="amusementTab">
                                    <ul>
                                        <li>
                                            <a href="/hours-of-operation/operation">이용정보</a>
                                        </li>
                                        <li>
                                            <a href="/mainfee">요금정보</a>
                                        </li>
                                        <li>
                                            <a href="/maincourse">어뮤즈먼트 소개

                                            </a>
                                        </li>
                                        <li>
                                            <a href="">공연 및 이벤트</a>
                                        </li>
                                        <li>
                                            <a href="/notice/notice_list">고객센터</a>
                                        </li>
                                        <li>
                                            <a href="/payment/payment_first">스마트할인예약</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>우대프로그램</span>
                                <div class="amusementTab">
                                    <ul>
                                        <li>
                                            <a href="/mainfee">이용요금</a>
                                        </li>
                                        <li>
                                            <a href="/mainprefer">우대프로그램</a>
                                        </li>
                                        <li>
                                            <a href="/maincard">제휴카드</a>
                                        </li>
                                        <li>
                                            <a href="/mainfee">기업체 특판안내</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상단 어뮤즈먼트 소개 wrap 끝-->
        <!-- 어트랙션 내용 wrap 시작-->
        <div id="WrapContents">
            <div class="att-title">
                <div class="att-width">
                    <h3>우대프로그램</h3>
                    <div class="content-control">
                        <ul>
                            <li class="snslistBtn">
                                공유하기
                                <div class="snslist">
                                    <b>공유하기</b>
                                    <span class="close"></span>
                                    <ul>
                                        <li>
                                            <span onclick="sendSns('facebook', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "페이스북"
                                        </li>
                                        <li>
                                            <span onclick="sendSns('twitter', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "트위터"
                                        </li>
                                        <li>
                                            <span onclick="sendSns('블로그', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "블로그"
                                        </li>
                                        <li>
                                            <span onclick="sendSns('카카오톡', 'https://www.gjw.co.kr/Contents/contents.php?cmsNo=DB0200', '경주월드-어트랙션');"></span>
                                            "카카오톡"
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            밴드
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            카카오스토리
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            라인
                                        </li>
                                        <li>
                                            <span onclick=""></span>
                                            구글
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="url-btn" data-clipboard-text="https://www.gjw.co.kr/Contents/contents.php?cmsNo=DD0100">
                                링크복사
                            </li>
                            <li class="print">
                                인쇄
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="WrapPrint">
                <div id="UsetipList">
                    <div class="WrapWidth">
                        <ul class="selectTab">
                            <li id="Step1" class="on">
                               	일반
                            </li>
                            <li id="Step2" class="on">
                                신용카드
                            </li>
                            <li id="Step3" class="on">
                                연간이용
                            </li>
                        </ul>
                        <ul id="ajaxContainer">
                            <li class="blank">우대프로그램 정보가 없습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
    </main> 
    <!--하단-->
    <footer>
        <div id="footer-bottom">
            <div class="footer-category">
                <div class="footer-category-list">
                    <div class="bottom-sns">
                        <ul>
                            <li>
                                <span></span>
                                <a href="http://www.facebook.com/hi.gjw" target="_blank">공식페이스북</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://blog.naver.com/hi_gjw" target="_blank">공식블로그</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.instagram.com/hi_gyeongju/" target="_blank">공식인스타그램</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.youtube.com/channel/UCY5OQjDmW1_SRO4saLQzveQ/feed" target="_blank">공식유튜브</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://www.tiktok.com/@hi_gjw" target="_blank">공식틱톡</a>
                            </li>
                            <li>
                                <span></span>
                                <a href="https://pf.kakao.com/_xcExbpC" target="_blank">공식카카오톡채널</a>
                            </li>
                        </ul>
                    </div>
                    <span class="footer-category-top">
                        TOP
                        <script>
                            let topBtn = document.querySelector(".footer-category-top");
                            topBtn.onclick = () => {
                                window.scrollTo({
                                    top: 0,
                                    scbehavior: "smooth"
                                })
                            };
                        </script>
                    </span>
                </div>
            </div>
            <div class="company-information">
                <div class="company-information-details">
                    <div class="bottom-left">
                        <div class="information-details-left">
                            <a href="https://www.gjw.co.kr/">
                                <img src="/static/main-image/main-logo/bottom-logo.jpg">
                            </a>
                        </div>
                        <div class="information-details-center">
                            <div class="center-company">
                                <ul>
                                    <li>
                                        <a href="">경주월드 소개</a>
                                    </li>
                                    <li>
                                        <a href="">이용약관</a>
                                    </li>
                                    <li>
                                        <a href="">개인정보취급방침</a>
                                    </li>
                                    <li>
                                        <a href="">제휴문의</a>
                                    </li>
                                    <li>
                                        <a href="">채용안내 및 지원</a>
                                    </li>
                                    <li>
                                        <a href="">이메일무단수집거부</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="center-company-imformation">
                                <ul>
                                    <li>경주월드 주식회사 (경주지점)</li>
                                    <li>주소 : 경주시 보문로 544(천군동)</li>
                                    <li>대표전화 : 1544-8765</li>
                                    <li>사업자등록번호 : 505-85-15586</li>
                                    <li>대표이사 : 정원기, 함영관</li>
                                </ul>
                            </div>
                            <div class="bottom-copyright">
                                <ul>
                                    <li>ⓒ GyeongjuWorld. All rights reserved.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-company-imformation">
                            <div class="company-family">
                                <ul>
                                    <li>
                                        관련사이트 바로가기
                                        <div>
                                            <ul class="company-name">
                                                <li>
                                                    <a href="http://www.asiacement.co.kr">아세아시멘트</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.asiasan.co.kr">아세아산업개발</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.yujinpanji.co.kr">유진판자공업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.cheilacc.co.kr">제일산업</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.a-pack.co.kr">에이팩</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/preferential/js/preferentials.js"></script>
</body>
</html>